[2020-12-07 15:03] adubovikov commented on #428
1. install heplify from packages
2. install golang
3. go get github.com/adubovikov/heplify
4 cd go/src/github.com/adubovikov/heplify
5. make
6. copy heplify to the installed directory
7. edit heplify.service to add custom bpf filter
8. run systemctl start heplify.service

if these steps are diffiifcult - you can wait untill the patch will be applied and we will release a new heplify

[2020-12-07 15:06] adubovikov commented on #428
https://github.com/sipcapture/heplify/blob/master/example/heplify.service

the service file for it

[2020-12-07 15:55] johandeclercqdemocon commented on #429
|when I do below query: SELECT nspname AS schemaname,relname,reltuples
FROM pg_class C LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
WHERE nspname NOT IN ('pg_catalog', 'information_schema') AND
relkind='r' ORDER BY reltuples DESC; all tables show me reltuples = 0.
So the tables do not get populated. wkr, |

On 7/12/2020 14:50, Alexandr Dubovikov wrote:

[2020-12-07 17:47] abitrusty commented on #428
Appreciate the time on this. Gave it a bash but will need to wait for the new heplify release :-)

Thanks for all your time on this!

[2020-12-08 09:55] adubovikov commented on #428
heplify-1.63-amd64.deb is up

[2020-12-08 11:32] abitrusty commented on #428
Looks to be working perfectly now!!!

Legend!!

[2020-12-08 11:32] #428 closed, assigned to nobody

[2020-12-08 11:36] noahrotheray opened #430 "Incorrectly Calculated Jitter?"
Hi Guys,

We have +-15 FreeSwitch boxes that currently report to our homer server through heplify.

We have a single host, that for some reason, reports huge amounts of jitter in its calls, but only in a single RTCP packet:
![image](https://user-images.githubusercontent.com/31306657/101478429-5b34ed80-3959-11eb-8712-d5f2c5430149.png)

This occurs in 90% of calls on this host. There aren't any issu

[2020-12-08 11:53] adubovikov commented on #428
@abitrusty don't forget to star us: https://github.com/sipcapture/homer/stargazers

[2020-12-08 12:28] abitrusty commented on #428
Done

[2020-12-08 13:04] lmangani commented on #430
It's most likely due to the early media injection. The sequence of this injected stream differs from the real time, and statistically speaking, its an anomaly. Is this by any chance a playback of RTP w/o transcoding into the stream?

[2020-12-08 13:09] lmangani commented on #430
[code]
[code]
[code]

[2020-12-08 13:36] adubovikov commented on #430
As @lmangani said above, it's typical media injection: announce or custom ringing, that doesn't have a rtp mark and jitter in this case will be huge. I think you have to capture a rtp stream and do analysis on it. I close the ticket, because it's not an issue in Homer

[2020-12-08 13:36] #430 closed, assigned to nobody

[2020-12-08 16:31] abitrusty commented on #428
Hi,

Sorry have a follow on question related to this. Will I re-open this thread?

Would that filter need tweaking to accept RTCP packets do you think? I'm not getting any captured from heplify but if I do a tcpdump I see them

**./heplify ii ens160 -bpf "ip[9]=47 and ((ip[62:2]>=0x13c4 and ip[62:2]<=0x13e2) or (ip[64:2]>=0x13c4 and ip[64:2]<=0x13e2))" -hs 127.0.0.1:9060**

2020/12/08 16:10:21.019

[2020-12-08 16:50] johandeclercqdemocon commented on #429
is there somewhere a log file that I can check ?

Thanks, Johan.

Op ma 7 dec. 2020 om 16:55 schreef johan <johan@democon.be>:

[2020-12-08 17:00] kYroL01 commented on #428
In your filter `ip[9]=47` means that you're trying to filter pkt with GRE encapsulation.
If you don't have GRE you need to put `ip[9]=17` for UDP or `ip[9]=6` for TCP.
Consider that you're also filtering for portrange `5060-5090` (**0x13c4 - 0x13e2**)

[2020-12-08 17:20] abitrusty commented on #428
OK - RTCP Packets are defintely coming in as GRE and I see how that capture works now. Thanks! I've tried changing the port range to 5060 - 50000 and I now see some RTCP packets captured but im also capturing all the RTP packets as well so the files are huge - all my SIP traffic is UDP. Assume there is no way to seperate the RTCP out as my homer server will proably keel over capturing all the RTP

[2020-12-08 17:41] adubovikov commented on #429
hard to say - you should check heplify-server log and also postgres's logs

[2020-12-08 17:44] adubovikov commented on #428
you can also isolate and capture ONLY rtcp traffic:

[code]

[2020-12-08 17:45] adubovikov commented on #428
https://github.com/sipcapture/captagent/blob/master/include/captagent/capture.h#L41

[2020-12-08 17:50] abitrusty commented on #428
Cheers guys....that's enough for me to play with for a while :-)

[2020-12-08 19:02] abitrusty commented on #428
Hi guys, I'm assuming something is wrong with below as I'm not getting any hits on only RTCP (or anything) - I'm learning though I think

heplify -i ens160 -e -bpf "ip[9]=47 and (ip[6:2] & 0x1fff = 0 and udp and udp[8] & 0xc0 = 0x80 and udp[9] >= 0xc8 && udp[9] <= 0xcc)"

[2020-12-08 19:47] kYroL01 commented on #428
@abitrusty I think you need to understand properly how BPF works.
In this case, if you have GRE pkts you cannot filter using the `udp`, because that is for a standard pkt with L2->L3->L4 layer.
In this case you have to use only `ip` and play with the byte offset from there.

[2020-12-09 16:41] johandeclercqdemocon commented on #429
I noticed that the debian vanilla is in french.

Could that be the issue ?

Secondly, when looking in the logs of pgsql, I only see that the db is
started.

connecntions are not mentioned.  So it seems to me that homer doesn't
make a connection.

On 7/12/2020 14:50, Alexandr Dubovikov wrote:

[2020-12-09 17:21] johandeclercqdemocon commented on #429
Hi, I found it.

heplify-server starts too fast.

the db is not started yet => timeout.

restart heplify-server fixed the issue.

wkr,

On 9/12/2020 17:41, johan wrote:

[2020-12-09 19:18] adubovikov commented on #429
oki, i think in the heplify-server.service should be wait for pgsql @negbie

[2020-12-09 19:20] adubovikov commented on #429
[Unit]
After=postgresql.service

[2020-12-09 19:21] adubovikov commented on #429
anyway, this param is optional and valid only in case heplify-server and postgress are on the same box

[2020-12-11 08:20] johandeclercqdemocon commented on #429
Hello Alexandr,

I have 2 suggestions :

- as homer 7 was installed in the very simple way (using the .sh
script), I think that the .service file should have the addition included.

- secondly, when the connectoin to the DB fails, I think that it would
be wise that heplify-server tries to reconnect (at least 4 times, before
giving a critical error; it would be handy if that error could be seen
in

[2020-12-11 11:01] adubovikov commented on #429
@johandeclercqdemocon i think it does reconnect but only if the first connection was succesful. About first suggestion, it will be ok if you have a local postgres, but many users use remote DB server and in this case it will be failed. Specialy in the docker scenario.... So, let me add this as a WIKI and it will solve the issue

[2020-12-11 11:05] adubovikov commented on #429
https://github.com/sipcapture/homer/wiki/Heplify-server-AND-Postgress-on-same-host

[2020-12-11 11:06] adubovikov commented on #429
@lmangani can we add an option to the installer script and add this line on demand ?

[2020-12-11 11:06] adubovikov commented on #418
can we close this ticket ?

[2020-12-11 11:07] adubovikov commented on #405
did you figure it out ?

[2020-12-11 13:48] noahrotheray commented on #430
Thanks guys,
You were right...that early media injection was causing this, had a look at an actual RTP stream:
![image](https://user-images.githubusercontent.com/31306657/101910892-4742f300-3bc8-11eb-834f-93ef473c9e20.png)
Appreciate the input.

[2020-12-11 13:50] adubovikov commented on #430
super! Glad to read it! :-)

[2020-12-11 14:54] bmgante commented on #405
Unfortunately no.

[2020-12-11 15:49] adubovikov commented on #405
I hope you read this page:

https://github.com/sipcapture/homer-app/wiki/Examples:-Correlation-MAPPING

[2020-12-14 02:59] sido420 opened #432 "heplify-server .. decoder.go:132: WARN Authorization.parse err: no LWS found"
I followed the instructions at https://github.com/sipcapture/homer/wiki/Examples%3A-Kamailio and https://github.com/sipcapture/homer7-docker/tree/master/heplify-server/hom7-prom-all to run Homer and related containers but getting the error in subject

[code]

Also, the SIP message sent from Kamailio is printed right below this error in homer container logs. But, I only see blank graphs in Homer UI

[2020-12-14 09:31] adubovikov commented on #432
the decoder's output it's just a warning - the Auth header doesn't have LWS
about the rest: please check if you have connection to postgress and heplify-server sends something there: you can also check if tables have been populated or use ngrep -W byline -d any port 5432

[2020-12-14 13:24] sido420 commented on #432
Its a fresh `docker-compose up` install on a fresh cloud VM, so it should technically work as is.

I will investigate and report back.

[2020-12-14 14:29] adubovikov commented on #432
just be sure that posgress will start before heplify-server ... this is common issue

[2020-12-14 14:42] sido420 commented on #432
That is taken care of by `depends_on` in docker compose file for heplify-server.

Postgres  should be starting before heplify-server.

[2020-12-14 14:47] adubovikov commented on #432
in this case just check if u see any data goes to postgres on port 5432

[2020-12-14 14:49] sido420 commented on #432
I looked inside the `homer_data` database in postgres and found  7 tables there. All of them are empty except `public.hep_proto_100_default`.
`public.hep_proto_100_default` contains log records from Kamailio that I am sending via `hlog`.

[code]

Unless I am looking inside the wrong database, data is coming to heplify and is being logged in DB. For some reason, its not logging SIP records and I do

[2020-12-14 14:51] adubovikov commented on #432
dont think so, because not all your SIP messages have Authorization header and as I wrote above - this is just a WARNING, not an error

[2020-12-14 15:00] sido420 commented on #432
Looks like Authorization string is there in SIP message.

[code]

So whats the solution for this case?

[2020-12-14 15:10] adubovikov commented on #432
you didn't get me, I said that Authorization header is not in EACH SIP messages, therefore if it was the reason, you would see another messages in the tables. For now you dont see ANY messages. So, please check it

[2020-12-14 15:26] sido420 commented on #432
Sorry, I am new to this VoIP world. I did check other SIP packets like `MESSAGE`. It is also showing Authorization string in logs.
I'm using JSSIP on the client side with `authorization_jwt` option and that might be adding that.

So, I believe all my SIP packets will contain the authorization header. If theres no solution (yet), do you know how Kamailio config could be modified to redact the Autho

[2020-12-14 15:48] mikebevz opened #433 "How to figure out what DTMF RTP events were sent?"
Hi,

I'm trying to figure out how to see DMTF RTP events. I see some RTP packets in Homer7 UI, but I don't see any DTMF ones.

Should I configure Homer7 additionally to be able to do that?

Thanks in advance for answer,
Michael

[2020-12-14 16:30] sido420 commented on #432
Ref: https://jssip.net/documentation/3.6.x/api/ua_configuration_parameters/#parameter_authorization_jwt

[2020-12-14 19:37] adubovikov commented on #433
Hi @mikebevz ,

Homer doesn't have RTP event support from, but you can send a quote for HEPIC or Rtpagent that can add such functionality
http://hepic.tel/

Regards,
Alexandr

[2020-12-14 19:41] adubovikov commented on #432
@sido420 i think you send not SIP, but WEBSOCKET messages can you capture the data that kamailio sends to heplify-server (port 9060) to a pcap file (tcpdump/ngrep) and share it to us

[2020-12-14 20:48] sido420 commented on #432
Yes, JSSIP connects to Kamailio via Websocket.

What I shared earlier was in the heplify-server container logs.

Here is `ngrep` output from inside the heplify-server container. It was captured when I sent a message via JSSIP+Kamailio.

[code]

[2020-12-14 21:37] mikebevz commented on #433
Alright, got it! Thanks a lot for response!

[2020-12-14 21:38] adubovikov commented on #432
check if you don't drop the messages that not related to "CALL" and "Register"

[2020-12-14 21:39] #433 closed, assigned to nobody

[2020-12-14 22:37] sido420 commented on #432
I am not dropping any messages and honestly I dont even know how to drop messages. REGISTER, MESSAGE etc can be captured using `ngrep` inside the heplify container.

Just to clarify, I dont see any (including REGISTER and CALL) messages in the database. The only ones are the log messages or *only* SIP packets without authorization header.

[2020-12-14 22:55] adubovikov commented on #432
as I said, please provide us a pcap with your HEP packets from your
kamailio. We can check and do analyze.

On Mon, 14 Dec 2020 at 23:37, sido420 <notifications@github.com> wrote:

[2020-12-16 17:33] jmillican61 opened #434 "hom7-influx-tick"
OS Ubuntu 20.04.1 LTS (Focal Fossa)
root@homer:~/homer7-docker-master/heplify-server/hom7-influx-tick# docker version
Client:
 Version:           19.03.8
 API version:       1.40
 Go version:        go1.13.8
 Git commit:        afacb8b7f0
 Built:             Wed Oct 14 19:43:43 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server:
 Engine:
  Version:          19.03.11
  API versi

[2020-12-16 18:27] lmangani commented on #434
Hi John,

Thanks for sharing this. Indeed the hepsub container needs to be updated - since its non-vital, I removed it from the default stack, so if you pull the docker-compose file and run again, the error should disappear. Once its all up, just point your HEPv3 agents at the container on port 9060/UDP

If you have further issue, feel free to comment here.

[2020-12-16 18:27] #434 closed, assigned to nobody

[2020-12-16 18:55] jmillican61 commented on #434
Thank you very much for such a fast response!
1 minor change I had to make to the docker-compose.yml file:
Where you had several comments that were not indented properly in the curl command under InfluxDB Retention Policy push.  The comments were at the far left and needed to be indented in line with the curl commands.
And now all containers are running. I have no dashboards in chronograf though b

[2020-12-17 00:07] lmangani commented on #434
Great! Feel free to submit a PR with the adjustments or post them here if you think they are of general benefit.
FYI: We don't currently have default dashboards for Chronograf as it doesn't allow presets as easily as grafana and we are on 1.8

[2020-12-18 05:41] sasmita11 opened #435 "Docker installation script for homer fails in centos 7 ."
I am installing homer on centos 7 machine .

while setting up docker with infulxDB I am facing below issue  .

 hom7-influx-tick]# docker-compose up -d
ERROR: yaml.parser.ParserError: while parsing a block collection
  in "./docker-compose.yml", line 136, column 7
expected <block end>, but found '<scalar>'
  in "./docker-compose.yml", line 154, column 9

Then I  have installed Homer through docker

[2020-12-18 08:34] sasmita11 commented on #435
After some refresh the page was loaded .

But now I am not able to login through the credentials .
admin/sipcapture

![homer-login-error](https://user-images.githubusercontent.com/18418391/102592742-e96b5980-4139-11eb-88e4-05f1ad48e7ad.PNG)

Please look into the image and help me how to solve this .

[2020-12-18 10:10] adubovikov commented on #435
i can only tell you that homer-app server is not up. Need to check this.

[2020-12-18 10:34] lmangani commented on #435
@sasmita11 I cannot reproduce any such issue - could you please pull the latest docker-compose and try restart the service, attaching the new logs.

[2020-12-18 10:47] abitrusty commented on #428
For completeness I was able to filter the RTCP packets by using below filter which gets the SIP ports and then also takes any UDP packet between 10000 and 50000 with an odd port number. Maybe not the cleanest but it works

heplify -i ens192 -bpf "ip[9]=47 and ((ip[62:2]>=0x13c4 and ip[62:2]<=0x13e2) or (ip[64:2]>=0x13c4 and ip[64:2]<=0x13e2) or (ip[62:2]>=0x2710 and ip[62:2]<=0xc350 and ip[62:2] &

[2020-12-18 10:53] adubovikov commented on #428
you are welcome! Thanks for sharing your result!

[2020-12-18 11:08] sasmita11 commented on #435
How Can I do that ? Can you please share the command with me what to do . I have simply followed the video tutorial for the commands .

[ hom7-prom-all]# docker-compose --version
docker-compose version 1.27.4, build 40524192
[ hom7-prom-all]# docker --version
Docker version 20.10.1, build 831ebea

This is my docker-compose and docker version . Do you need me to change this .

[2020-12-18 11:10] lmangani commented on #435
Start with the following commands:
[code]

[2020-12-24 09:09] leoapd19 opened #437 "postgresql have no data"
heplify-server.log:

![微信图片_20201224170918](https://user-images.githubusercontent.com/6158408/103077486-cc87c800-460a-11eb-9e53-311fe93940b8.png)

[2020-12-24 09:10] leoapd19 commented on #437
2020-12-24T17:07:32+08:00 ERR  pq: Could not complete operation in a failed transaction
2020-12-24T17:07:36+08:00 ERR  pq: 没有为行找到关系"hep_proto_1_default"的分区

[2020-12-24 10:08] adubovikov commented on #437
apologies, but we couldn't read mandarin or simple chinese :-( try to post it in english

[2020-12-25 01:31] leoapd19 commented on #437
thanks，heplify-server.log  shows as  below：
2020-12-24T18:35:13+08:00 ERR  pq: Could not complete operation in a failed transaction
2020-12-24T18:35:13+08:00 ERR  pq: No partition with relationship found for “hep_proto_1_default”

I think the sip messages received on port 9060，but error when inserting database

[2020-12-28 09:16] yazarlwin opened #438 "No graph data analysis shown in Homer 7.9.10 (prod)"
We installed homer 7.9.10 (prod) successfully. We saw the captured messages when searched. But we can't have graph display of the traffic data. Please help us as we are planning to put this in production soon.

[2020-12-28 10:37] adubovikov commented on #438
can you provide a bit more information what are you trying to display and how ?

[2020-12-28 10:39] adubovikov commented on #437
the error hapens because you don't have any partitons/table for hep_proto_1_default
please be sure you have correct credentials with write permissions in your heplify-server.yaml

[2020-12-28 11:02] yazarlwin commented on #438
We would like to see like below dashboard.
![Dashboard](https://user-images.githubusercontent.com/45550549/103209894-8eecad00-4932-11eb-9d33-2068333f1fc1.png)

[2020-12-28 11:31] lmangani commented on #438
@yazarlwin this very much depends on your setup. If you chose to use influxDB you can do so but we provide no presets. Our suggestion is to do the charting in Grafana using the HOMER generated data, and then embed widgets in the Homer UI.

[2020-12-29 03:25] yazarlwin commented on #438
We configured Grafana as per the credential and data from /usr/local/homer/etc/webapp_config.json, but the problem is that we can't see homer data in influxDB.

[2021-01-08 13:26] imdrpn opened #439 "Packets Not Showing on GUI"
Hello , I am not getting data on  web interface ,here is all the details
------------------------------------------------------------------------------------------------------------------------------------
homer-app -version
VERSION: 1.3.13

heplify-server --version
VERSION: heplify-server 1.32
--------------------------------------------------------------------------------------------------------

[2021-01-08 13:56] aqsyonas commented on #439
Hey,

could you please check if
1. Data is being saved into database
2.  Try to turn on debug in homer-app inside
/usr/local/homer/etc/webapp_config.json and watch /usr/local/homer/log/
directory for logs.

I hope you find useful hints from the above instructions.

Br, Aqs

On Fri, Jan 8, 2021 at 6:26 PM Darpan Patel <notifications@github.com>
wrote:

[2021-01-11 08:10] sasmita11 commented on #435
Now its running with influxdb also . But I did some changes in the yml file . the web-app and caddy both are configure with same port . I changed that .. Then everything works perfectly .

[2021-01-11 08:10] #435 closed, assigned to nobody

[2021-01-11 10:28] imdrpn commented on #439
Hi ,
1. No Data is not saved to into database
2.  tail -f  /usr/local/homer/log/homer-app.log.2021_01_11_00_00
{"level":"error","msg":"couldn't make ping to [Host: localhost]: \ndriver: bad connection","time":"2021-01-11T08:15:46Z"}
{"level":"error","msg":"couldn't make ping to [Host: 127.0.0.1]: \ndriver: bad connection","time":"2021-01-11T08:15:46Z"}
{"level":"error","msg":"couldn't make ping to

[2021-01-11 12:01] adubovikov commented on #439
Looks like your postgress is down. Please recheck.

[2021-01-11 12:08] imdrpn commented on #439
@adubovikov  Service is running, and i am getting less frequently these type of logs, nothing is printed apart of the same

[2021-01-11 12:25] adubovikov commented on #439
please open heplify-server.service:

[code]

you should have After=network.target postgresql.service

save it, do systemd daemon-reload and try again

[2021-01-11 12:37] imdrpn commented on #439
I have tried after  Editing  service file as you suggested & restart the service , but still not getting anything

[2021-01-11 12:39] adubovikov commented on #439
did you restart all services ? If you did it correct, you shouldn't see any errors like above.

[2021-01-11 12:40] adubovikov commented on #439
also, please check if you are sending any traffic to port 9060 there your heplify-server is running.

[2021-01-11 12:46] imdrpn commented on #439
Yes I have restarted all services, not getting above errors &  by doing ngrep on port 9060 i can conclude that traffic is coming .

[2021-01-11 12:50] adubovikov commented on #439
in this case check if you heplify-server sends something to port 5432

[2021-01-11 12:57] imdrpn commented on #439
127.0.0.1:60978 -> 127.0.0.1:5432 [AP]
  d....OWE5YzQ2NGVjZTU3ODRhNGYwMmQ5OGI4Y2RkMDI5ZjE..2021-01-11T12:52:27.233831Z.{"protocolFamily":2,"protocol":6,"srcIp":"xy.xx.yy.zz","dst
  Ip":"1xx.1yy.2z.2y2","srcPort":5060,"dstPort":37922,"timeSeconds":1610369547,"timeUseconds":233831,"payloadType":1,"captureId":"2001","cap
  turePass":"myhep","correlation_id":"OWE5YzQ2NGVjZTU3ODRhNGYwMmQ5OGI4Y2RkMDI5Zj

[2021-01-11 12:58] adubovikov commented on #439
perfect, check now if you have correct time range in the UI

[2021-01-11 13:01] imdrpn commented on #439
Yes , time range is correct UTC ,but no data Showing .

[2021-01-11 13:03] adubovikov commented on #439
restart homer-app as well and add same lines (After:" to the
homer-app.service and check

On Mon, 11 Jan 2021 at 14:01, Darpan Patel <notifications@github.com> wrote:

[2021-01-11 13:20] imdrpn commented on #439
@adubovikov  its works ! Thanks alot , still i will do various testing and close this issue accordingly .

[2021-01-11 13:29] adubovikov commented on #439
you are welcome, don't forget to star us:

https://github.com/sipcapture/homer/stargazers

[2021-01-11 13:31] imdrpn commented on #439
@adubovikov  ,done :)

[2021-01-11 13:32] adubovikov commented on #439
@imdrpn as well: https://github.com/sipcapture/homer-app/commit/375045c7c477c77d1403153f799f3f7c8864dbf0

[2021-01-11 13:43] imdrpn commented on #439
@adubovikov  Done :+1:

[2021-01-11 14:43] adubovikov commented on #439
ok. I am closing the ticket! Enjoy!

[2021-01-11 14:43] #439 closed, assigned to nobody

[2021-02-02 11:02] vishalmpai opened #441 "Postgres Database is full"
I have homer setup and default DBDropDays = 14 now concern is my disk space is full as i checked it's /var/lib/postgresql. What is the best way to tackle this.

[2021-02-02 11:29] lmangani commented on #441
Reduce the rotation days, enable `DBDropOnStart` and restart the service. It should free up the disk space accordingly.

[2021-02-02 11:30] #441 closed, assigned to nobody

[2021-02-02 12:31] vishalmpai commented on #441
DBDropDays = 1
DBDropOnStart = true

I updated heplify-server.toml file but still it not cleaning up.

[2021-02-02 12:35] lmangani commented on #441
We can't help you much unless you attach some logs or output.

[2021-02-02 13:00] vishalmpai commented on #441
HEPAddr               = "0.0.0.0:9060"
HEPTCPAddr            = ""
HEPTLSAddr            = "0.0.0.0:9060"
ESAddr                = ""
ESDiscovery           = true
LokiURL               = ""
LokiBulk              = 200
LokiTimer             = 4
LokiBuffer            = 100000
LokiHEPFilter         = [1,5,100]
ForceHEPPayload	      = []
PromAddr        = "0.0.0.0:9096"
PromTargetIP          = ""
PromTa

[2021-02-02 13:45] vishalmpai commented on #441
homer01 /usr/local/bin/heplify-server[3132]: logp.go:142: [log] Disable stderr logging
  homer01 /usr/local/bin/heplify-server[3132]: server.go:83: start heplify-server 1.32 with config.HeplifyServer{HEPAddr:"0.0.0.0:9060", HEPTCPAddr:"", HEPTLS
  homer01 /usr/local/bin/heplify-server[3132]: prometheus.go:38: expose metrics without or unbalanced targets
  homer01 /usr/local/bin/heplify-server[3132

[2021-02-02 18:29] vishalmpai commented on #441
As i debug i found that due to full disk space the postgressql service is getting up. So can anyone help me out.

[2021-02-03 07:05] vishalmpai commented on #441
I managed it to fix it at my side by deleting the unwanted logs and make postgresql service up and later on as suggested by @lmangani added the parameter and restarted the service.

Thank you @lmangani

[2021-02-04 21:14] devBash99 opened #442 "Cannot extend columns in search results"
Hello I have an issue regarding the homer web app UI.

Whenever I try to extend the column in the search results it reverts back to the initial size. This is only false for the **Date** column which works fine. I am using **Homer 7 (Docker) Verion 7.9.10.** I also pulled the latest web app image and tested in a separate environment but it was the same there as well. I have attached a gif below
![h

[2021-02-04 21:35] devBash99 opened #443 "Homer webapp shared pannel/dashboard issue"
I have an issue with the homer web app. I have created some dashboard that I will like to share will all the users I have created. I selected the shared option on the dashboard setting but it seems to have no effect. I am using homer docker version. I also pulled the latest webapp image today but the issue still persists.

OS: debian 10
Homer version: 7.9.10 (docker)

If you require any other deta

[2021-02-04 22:01] #438 closed, assigned to nobody

[2021-02-04 22:02] #416 closed, assigned to nobody

[2021-02-04 22:02] #429 closed, assigned to nobody

[2021-02-04 22:03] #422 closed, assigned to nobody

[2021-02-09 10:31] Dup4 opened #444 "If I use sngrep to capture and push packets to Heplify Server, how to set the capture ID?"
- <https://github.com/sipcapture/homer/wiki/Examples:-sngrep>
- <https://github.com/irontec/sngrep/wiki#how-to-use>

The two documents listed above did not mention how to set capture ID.

I want to know if sngrep supports setting the capture ID when pushing packets.

[2021-02-09 10:47] lmangani commented on #444
Sounds like a question for `sngrep`? ;) any reason not to use `heplify` or one of our agents?

[2021-02-09 10:47] #444 closed, assigned to nobody

[2021-02-09 18:18] AlexeyOplachko commented on #442
Addressed in https://github.com/sipcapture/homer-ui/pull/386/commits/3f533a1328946b2a4c59f3a34be138bbc96f4fee, after we do testing and merge in Master, behavior for this will become a setting.
Default will remain same as right now, but you'll be able to disable "size to fit"(current behavior) or to enable "Auto-sizing" which enlarges columns so their content fits inside without being cut of

[2021-02-10 14:02] thesipguy opened #445 "homer installs and receives data but isnt populating DB"
Hi Lorenzo, I installed Homer on Debian 9 via the script, it installs and I can log in to the portal, I can see it listening to port 9060 and I can see traffic coming from the OpenSips server, but when I try to search in homer it doesnt find any info.

I guess I'm missing a step in the installation but cant figure out what.

thank you
Scott

[2021-02-10 14:07] lmangani commented on #445
Please confirm the status of the core services and/or any related events from syslog when restarting them:
- heplify-server
- postgresql-12

[2021-02-10 14:54] thesipguy commented on #445
I see this

Feb 10 14:44:44 HomerCapture heplify-server[743]: 2021/02/10 14:44:44.385283 rotator.go:349: ERR dial tcp 127.0.0.1:5432: connect: connection refused
Feb 10 14:44:44 HomerCapture systemd[1]: Starting LSB: Start NTP daemon...
Feb 10 14:44:44 HomerCapture heplify-server[743]: 2021/02/10 14:44:44.409058 rotator.go:352: ERR dial tcp 127.0.0.1:5432: connect: connection refused
Feb 10 14:44:

[2021-02-10 15:16] lmangani commented on #445
There's the answer - postgres is down. You need to check the status of the service and figure out why its not starting.
[code]

[2021-02-10 15:25] thesipguy commented on #445
I formated my server and reinstalled from the script, an now I dont get those errors anymore, here is the logs I get now

Feb 10 15:23:55 HomerCapture /usr/local/bin/heplify-server[12379]: server.go:83: start heplify-server 1.32 with config.HeplifyServer{HEPAddr:"0.0.0.0:9060", HEPTCPAddr:"", HEPTLSAddr:"0.0.0.0:9060", ESAddr:"", ESDiscovery:true, ESUser:"", ESPass:"", LokiURL:"", LokiBulk:200, Lo

[2021-02-10 15:28] lmangani commented on #445
@thesipguy alright that's great - normally its best to troubleshoot why things happen before a nuke or next time you might loop back here ;)

[2021-02-10 15:35] thesipguy commented on #445
NO, its still not working, before I messed around when it didnt work, I guess that broke something else, but now with a fresh installation its still not working

[2021-02-10 15:55] thesipguy commented on #445
Maybe my opensips config is wrong, here are the relevant settings, I just changed the ip's for security reasons
listen = hep_udp:188.118.x.xxx:6061
modparam("siptrace", "trace_on", 1)
modparam("proto_hep", "hep_id","[hid]138.197.xxx.xxx:9060;transport=udp; version=3")
modparam("siptrace", "trace_id","[tid1]uri=hep:hid")
modparam("proto_hep", "hep_capture_id", 1)
I tried added the following line bu

[2021-02-10 16:04] thesipguy commented on #445
When I changed homer5_on to 0, it puts this in the log

Feb 10 16:01:22 HomerCapture /usr/local/bin/heplify-server[23415]: decoder.go:130: ParseMsg: err parsing msg no SIP eof found#012"{\n\t\"payload\":\t\"SIP/2.0 200 Server Running\\r\\nVia: SIP/2.0/UDP localhost:5065;received=127.0.0.1;rport=5065;branch=z9hG4bK495819\\r\\nFrom: <sip:keepalived@sip.xxxx.com>;tag=33180\\r\\nTo: <sip:keepalived@si

[2021-02-10 16:19] lmangani commented on #445
@thesipguy whats the OpenSIPS version?

[2021-02-10 16:33] thesipguy commented on #445
2.4.9

[2021-02-10 16:36] lmangani commented on #445
That's pretty old, but also a testament to OpenSIPS stability, I have no 2.4 setups to test/replicate with but I'll take a look. Anyway the error you're getting is more about the signaling than HEP and the payload seems to be malformed.

[2021-02-10 17:06] thesipguy commented on #445
Its only 3 months old. its a LTS version

[2021-02-10 17:40] lmangani commented on #445
@thesipguy that's intended from a #HEP perspective, not overall of course. We're focused on that.

[2021-02-17 20:24] adubovikov commented on #443
The issue has been fixed. Please install the latest release ;-)

[2021-02-22 09:09] lcalderonboix opened #446 "Failed to create a new dashboard."
Hi experts,

I've installed homer 7 over Debian. When I access by web Now it appears me the following error "Failed to create a new dashboard" and no data is showed. It worked properly for a few days.

What can I check?.

Thanks.

Regards.

[2021-02-22 09:19] lmangani commented on #446
Hi @lcalderonboix
In order to get assistance please specify:

- status of db service
- the version of the application you are running
- any console log or syslog errors form the system.

[2021-02-22 09:20] lmangani commented on #446
AFTER you collect the console.log errors, you can try from the UI `settings > reset > clear local data`  and see if that helps reset the dashboard.

[2021-02-22 10:46] lcalderonboix commented on #446
Hi Imangani!

The version is 7.9.10.
I've check all syslog and  I've not seen anything abnormal.
Then I clear local data from the UI but the problem still persists.

These are all the services runnning:

homer
    State: running
     Jobs: 0 queued
   Failed: 0 units
    Since: Fri 2021-02-19 10:47:46 CET; 3 days ago
   CGroup: /
           ├─docker
           │ ├─ed14b73786cd3fbc472a3f883d6ebf190

[2021-02-22 16:26] lcalderonboix commented on #446
Now I rebooted the machine and now It apperarsme the following error:

loki is up-to-date
prometheus is up-to-date
grafana is up-to-date
nodeexporter is up-to-date
alertmanager is up-to-date
db is up-to-date
heplify-server is up-to-date

ERROR: for homer-webapp  Container "565ac59bdca8" is unhealthy.
ERROR: Encountered errors while bringing up the project.

[2021-02-22 19:14] qwantanius opened #447 "Share link dont works"
1. Open homer
2. Open any message
3. Press share-link and it will throw into a new tab, but without any data

[2021-02-22 20:00] adubovikov commented on #447
can you record video ? we couldn't reproduce this issue

[2021-02-24 10:50] zombiedk commented on #284
Question if I have a call that passes through several asterisk servers, what should the X-CID refer to
the [first,last,all] call ?

setup
all servers is running asterisk,
for several call from and to is changing between server depenging on customer setup (E164/national/local/queue numers)
GW -> core -> PBX -> VMserver

exsample 1
call1: Call-ID=111
call2: Call-ID=222, X-CID=111
call3: Call-ID=333,

[2021-02-24 11:15] sergey-safarov commented on #284
I think here applicable
[code]

[2021-02-24 12:34] devBash99 commented on #442
Thank you. Let me test this and get back to you.

[2021-02-25 15:04] lcalderonboix commented on #446
New Update. It failed because there was not free space on disk.

Is there a way to select the info to save in data base? For instance I dont need to save RTCP messages.

Regards.

[2021-02-25 16:11] lmangani commented on #446
@lcalderonboix in this case you should disable RTCP at the HEP senders rather than write and drop the data perhaps?

[2021-02-25 18:08] devBash99 commented on #443
Tested and it works. Thanks.

[2021-02-26 15:51] lcalderonboix commented on #446
Done it. Thank you Lorenzo.

[2021-02-26 16:12] #446 closed, assigned to AlexeyOplachko

[2021-02-26 17:19] devBash99 commented on #442
I tested it and it works. But after refreshing the page the setting go back to default.

[2021-03-01 18:41] devBash99 commented on #443
@adubovikov  When a pannel shared it's entry is repeated in the dashboard selection dropdown for every new user. Now i believe the dashboard is copied to every new user. But is there a way for the names to not be repeated? I have attached a photo for reference .  If this should be opened as separate issue than please let me know .Thank you
![image](https://user-images.githubusercontent.com/5865622

[2021-03-01 18:51] devBash99 opened #448 "UI preferences/settings are not saved and are reverted back to the original settings after refresh etc."
Any UI preference such as the order of the rows or the selection of column resizing is not saved and is reset after page refresh etc.

[2021-03-02 16:32] xilence222 opened #449 "Docker install can't get data to display."
I've tried about 5 times now with v7 to get data to display in homer webapp.

I've tried with old homer5 repo and data is displayed.

I've pinged loki and db from webapp container and it ping works.

If I go into Grafana and login as admin.
Go to Explore > Label type > sip
I see all the sip traffic stored in Loki

Why does this not show in homer can someone help I would really appreciate it .

[2021-03-02 16:33] xilence222 commented on #449
I'm using the docker-compose inside hom7-prom-all

[2021-03-02 17:04] lmangani commented on #449
Hey @xilence222 could you paste some examples of your attempts with logs, screenshots or anything we could use to help?

[2021-03-02 17:20] xilence222 commented on #449
This is a new server, only things that I installed is docker.
This is how I started the application
git clone https://github.com/sipcapture/homer7-docker
  cd homer7-docker/
  cd heplify-server/
  cd hom7-prom-all/
  docker up -d

 Output
 docker-compose up -d
Creating volume "hom7-prom-all_prometheus_data" with default driver
Creating volume "hom7-prom-all_grafana_data" with default driver
Creati

[2021-03-02 17:59] lmangani commented on #449
This could be just due to confusion on how search and mapping work. Please try the following:

1 - create a new dashboard with a Search form and a Results Container, call it `OPTIONS Search` or something
2  - configure the search form to use the `SIP- default` mapping schema
![image](https://user-images.githubusercontent.com/1423657/109692957-629b1a00-7b89-11eb-80a8-159b57de9c92.png)

3 - save and

[2021-03-02 18:49] YisroelTech opened #450 "Export Flow as PNG With Aliases and Grouping"
When doing an Export Flow as PNG it would be extremely useful to have it display the same way the Flow tab displays it, including the Alias names and the grouping (if set to Group by Alias.)

See compared Flow tab (left) and Exported Flow (right):
![image](https://user-images.githubusercontent.com/7387839/109696012-97dc4380-7b5a-11eb-90b0-c4320b139afc.png)

[2021-03-02 19:57] xilence222 commented on #449
Sorry I still don't see results with that.
https://i.imgur.com/d5UB5z2.png
https://i.imgur.com/2YuraZO.png

[2021-03-03 06:59] demonspork opened #451 "No data Display for Docker or Install Script"
I ran the latest install script and attempted to run with Docker.
OS: debian 9
Homer Version: 7.9.11
I did find some errors an error in postgresql when I logged into the homer web interface, and those errors lead me to these 2 lines of code that appear to be missing a closing ) in the Where statements, but I'm not very familiar with Go so I could be wrong.

https://github.com/sipcapture/homer-app/

[2021-03-03 07:53] demonspork commented on #451
I confirmed the source of my postgresql error is the lines I posted by editing the lines and compiling, but it didn't fix my primary issue that homer won't display any data. See PR https://github.com/sipcapture/homer-app/pull/417 for the PR to fix that and please offer any suggestions on what to do next to get homer to show the data that is being written to the database.

[2021-03-03 14:02] xilence222 commented on #449
I wonder if this is a similar issue to #451

[2021-03-03 14:46] demonspork commented on #451
I just let it sit overnight, continuing to collect calls, and when I re-ran the search this morning it showed calls even from the time periods that were showing nothing when I opened this ticket.

[2021-03-03 14:46] #451 closed, assigned to nobody

[2021-03-03 15:53] lmangani commented on #449
I just tested this from scratch and I cannot reproduce your issue.

Try sending in a call with `hepgen.js` and see if that shows up:
[code]

![image](https://user-images.githubusercontent.com/1423657/109832808-01cf1880-7c41-11eb-9990-012aafe17b68.png)

[2021-03-04 10:25] xilence222 commented on #449
I ran that with the existing instance and go no results. Sorry.
I'm gonna trash these containers and try with fresh  👍

[2021-03-05 12:43] bmgante commented on #443
Also have this problem.

[2021-03-05 13:06] adubovikov commented on #443
sorry, please update to the latest package
it has been fixed alredy!

[2021-03-05 14:23] bmgante commented on #443
i have homer 7.9.11 installed today, is there a new version available?

[2021-03-05 14:47] devBash99 commented on #443
@bmgante did you take a fresh pull from the master branch of homer-ui? I'm going to test it now.

[2021-03-11 12:34] iliesh opened #452 "Feature - Calls grouped by Call-ID"
Hello,

The Display Result widget by default is showing all calls with all messages, is there any way to add an option to group them by callid for ex?
And by pressing on that specific callid to open a new window containing the full call flow for that particular callid.

Thank you.
Regards,

[2021-03-11 13:00] lmangani commented on #452
I'm not understanding the point. This is how it already works, if you are talking about search results, they sorted by time but you can also sort them by callid, etc. when they have no parameters they will show everything. Use parameters to limit results.

Also, Inside each session popup, you can filter the sessions-ids and protocols being displayed
![image](https://user-images.githubusercontent.c

[2021-03-11 13:00] #452 closed, assigned to nobody

[2021-03-11 13:41] iliesh commented on #452
@lmangani ,

Yes, the search result is what I meant. I know you can sort each column as you wish, which is great - but what I want is to GROUP the result based on some parameters (callid for ex.). This way the result page will be much shorter and we will have a single call per line instead of a transaction, and if want to see the full call flow - just press on that particular call and you will see

[2021-03-12 11:24] iliesh opened #453 "@lmangani , Calls grouped by Call-ID"
@lmangani ,

Yes, the search result is what I meant. I know you can sort each column as you wish, which is great - but what I want is to GROUP the result based on some parameters (callid for ex.). This way the result page will be much shorter and we will have a single call per line instead of a transaction, and if want to see the full call flow - just press on that particular call and you will see

[2021-03-12 11:53] lmangani commented on #453
Just filter by SIP Method = INVITE and it' ll basically do what you' re saying?

[2021-03-12 12:22] iliesh commented on #453
@lmangani, it's a kind of workaround - instead of having 15-20 lines - there will be just 3-4, or more depending on how many re-invites are in that dialog. I think an option to group the result will make more sense (IMHO).

Thank you.

[2021-03-12 12:45] lmangani commented on #453
I know exactly what you're talking about, but there' s no transaction tracking in HOMER (only in HEPIC) to act on the grouping, so this would be a UI gimmick/workaround anyhow. This said, the table can support grouping by columns from a technical standpoint, so feel free to send a PR if you' d like to add it anytime! Thanks!

[2021-03-12 12:45] #453 closed, assigned to nobody

[2021-03-19 10:00] hamidrhashmi opened #454 "Home 7 No information of IP for IPv6"
I have configured Homer7 with Freeswitch which works on IPv6. Homer displaying call like this.

![IPv6_Flow](https://user-images.githubusercontent.com/14875110/111763125-94b7b600-88c3-11eb-98d0-c3eeef1254a6.JPG)

![IPv6_Mesages](https://user-images.githubusercontent.com/14875110/111763148-9b462d80-88c3-11eb-9fef-d315cebcd141.JPG)

and when I tried to download pcap file, it downloaded an empty file

[2021-03-19 10:23] lmangani commented on #454
Hi @hamidrhashmi for the flow, please use the top-right funnel menu and try Group by Port to unbundle the display.
The issue seems with parsing some of those messages.

@AlexeyOplachko could you open an internal ticket to reproduce this in the lab?

[2021-03-21 16:41] ghost opened #455 "Homer/HEPIC RTP capture question."
Hello,
From what I understand, in order to capture RTP traffic the 'HEPIC" product must be used and this is not a free product.  I have been unable to locate the price for using HEPIC.  When I am on the HEPIC page, the Contact page does not appear to be working so I am unable to ask this question there.  I would appreciate any information anyone has on this topic.

Thank you,

[2021-03-21 17:58] lmangani commented on #455
HOMER does not need HEPIC and vice versa, they compete with each other with different features. Contact sales@qxip.net anytime if you would like more details.

[2021-03-21 17:58] #455 closed, assigned to nobody

[2021-03-23 00:36] nathanleyton opened #456 "Rtpengine issue"
Just cross linking an issue in rtpengine that I just posted that you might be interested watching:-

https://github.com/sipwise/rtpengine/issues/1215

Thanks

[2021-03-24 13:11] ChicagoJay opened #458 "HP_ERM support for heplify"
Trying to send traffic from a SIP gateway (CUBE router) with no available ports means using the switch to mirror the data to the heplify server.  We have Aruba / HP switches here, and they use `HP_ERM` to forward the packets.  I'd like to request `HP_ERM` support be added to heplify.

Thanks!

[2021-03-24 13:41] lmangani commented on #458
Certified non-profit, we'll gladly try implement this feature over the next cycles.

[2021-03-24 13:43] ChicagoJay commented on #458
Email sent to

Woohoo!  Thanks!!!

[2021-03-24 13:47] kYroL01 commented on #458
Glad to do that - Once all is done I'll let you know.
Thank you

[2021-03-24 20:37] ChicagoJay commented on #458
If it helps, WireShark has a dissector for `HP_ERM` - [boundary/wireshark](https://github.com/boundary/wireshark/blob/master/epan/dissectors/packet-hp-erm.c) now at [wireshark/wireshark](https://github.com/wireshark/wireshark/blob/master/epan/dissectors/packet-hp-erm.c)

[2021-03-31 13:04] Mkasem40832 opened #459 "How i can open the GUI"

[2021-04-01 08:47] #459 closed, assigned to nobody

[2021-04-11 21:43] ChrisiCarr opened #460 "No data in Homer"
Hi,

I have installed the latest version of Homer 7.9.11 and installed the captagent on my 3CX server.

I can see HEP and SIP packets on the Homer server, however, I am unable to see any call on the UI.

I have noticed that heplify is not running and not sure why

"user@homer:~/Desktop$ sudo systemctl start heplify
Failed to start heplify.service: Unit heplify.service not found.
"

Any assistance

[2021-04-11 21:57] lmangani commented on #460
Please start by running a [hepgen](https://github.com/sipcapture/homer/wiki/HEPGEN-Test) test

[2021-04-11 22:28] ChrisiCarr commented on #460
Hi @lmangani,

Thank you.

I am trying to, however, I am trying to install node.js and I am now running into the following issue which I am struggling with.

After running `sudo apt-get install -y node.js` I receive the following depenancy issue which I a trying to resolve.

`The following packges have unmet dependencies:
 node-jssip : Depends: node-websocket but is not going to be installed
E: Un

[2021-04-11 22:38] lmangani commented on #460
I don't recognize that command as valid, the dot seems a typo? Try just `sudo apt-get install -y nodejs`

[2021-04-11 22:48] ChrisiCarr commented on #460
Thank you, that was a typo.

I have been able to run the hepgen test and the results are `{ rcvd: 43, parsed: 43, hepsent: 43, err: 0, heperr: 0 }
Done! Exiting...
`
I am unable to see the call on the Homer UI.

[2021-04-11 23:06] lmangani commented on #460
The point of the test is to make sure packets arrive at the instance/port - assuming the container and DB are both up (did you check the container logs?) then its potentially a network or firewall issue. Hard to tell without knowing all the details.

[code]

[2021-04-11 23:11] ChrisiCarr commented on #460
How would I check if the db is up? also what is influxdb, am I meant to configure anything?

The firewall is disabled.

[2021-04-11 23:22] ChrisiCarr commented on #460
Assuming we are using postgres.

[code]

[2021-04-11 23:35] ChrisiCarr commented on #460
I have data in postgres

[code]

I do not have data in hep_proto_1_call.

[code]

[2021-04-11 23:38] ChrisiCarr commented on #460
I will go through the [troubleshooting ](https://github.com/sipcapture/homer/wiki/Troubleshooting-Homer-7.7)guide and update this case as soon as I can.

Thank you.

[2021-04-12 09:39] ChrisiCarr commented on #460
Do you know what could cause hep_proto_1_call to be missing from postgres?

[2021-04-12 10:16] lmangani commented on #460
@ChrisiCarr in HOMER session are classified by their type (calls, register, everything else) so this would suggest there are no calls. Proto 5 are RTCP reports. Without knowing your captagent config and network specific, we can' t suggest much.

[2021-04-12 20:23] ChrisiCarr commented on #460
Thank you @lmangani, I will compile as much info and add it to this case tomorrow.

I have a connection being refused, could this be an issue?

[code]

Thank you.

[2021-04-13 08:16] ChrisiCarr commented on #460
Hi @lmangani,

Upon running `docker-compose logs --follow` I get the following.

[code]

[2021-04-13 14:50] kYroL01 commented on #460
You need to install `docker-compose`
https://docs.docker.com/compose/install/

[2021-04-13 15:04] lmangani commented on #460
That's IF YOU ARE using docker already. Do not install otherwise @ChrisiCarr

[2021-04-13 16:44] ChrisiCarr commented on #460
Hi @lmangani,

Thank you. I am not using Docker.

I am under the impression that my heplify-server is not functioning correctly. I am unable to see any insertion on port 5432.

Also, I get "could not find toml config file" when I try execute.

root@homer:/var/lib/postgresql/12/main/pg_logical# /usr/local/bin/heplify-server
Could not find toml config file, use flag defaults. <nil>

What information

[2021-04-13 16:55] lmangani commented on #460
@ChrisiCarr that's up to you. Not sure why you were trying to use docker commands if you do not use docker and in general, the information makes no sense - you mentioned no inserts, but yet you could produce a table with inserts (although of a different type) so heplify-server must be working - the issue is going to be elsewhere but it's hard to guess. How did you install heplify-server and heplif

[2021-04-13 17:27] ChrisiCarr commented on #460
@lmangani, thank you. I am going to attempt a fresh install, can you recommend any guide, please?

I am doing this as POC.

[2021-04-13 17:40] ChrisiCarr commented on #460
From https://github.com/sipcapture/homer/wiki/Quick-Install which of the below do you recommend?

🎁 Manual Install (easy)
📑 Quick Install (easier)

[2021-04-13 17:43] lmangani commented on #460
I would suggest using the homer-installer script for the server, and the package (manually) for the agent (heplify)

[2021-04-13 17:45] ChrisiCarr commented on #460
Thank you. I will attempt this now.

[2021-04-13 21:51] ChrisiCarr commented on #460
I am still having the same issue, here is the procedure I undertook.

**Environment/Virtual Box**

- 3CX - 192.168.10.173 - Contains Captagant.
- Homer - 192.68.10.184 (debian-9.13.0-amd64-netinst)

**On the Homer Server - 192.168.10.184 I did the following**

1. su -
2. apt update && apt upgrade
3. apt install lsb-release curl wget git build-essential
4. wget https://github.com/sipcapture/homer-i

[2021-04-13 22:52] ChrisiCarr commented on #460
Is captagent supposed to be installed on my 3cx or the homer server?

[2021-04-13 23:11] lmangani commented on #460
captagent or heplify (the latter seems better suited for your situation) should be installed where the SIP traffic can be captured.

[2021-04-14 10:49] ChrisiCarr commented on #460
Hi @lmangani,

Thank you, you may close this isse as I am not sure why I cannot get this to work. I have followed the guide word for word and I am not getting anywhere I am afraid.

Thank you for your efforts.

[2021-04-15 15:21] ChicagoJay commented on #458
I have attached a pcap from a listener.  The traffic comes from the switch on an arbitrary port (8383 in this case) via UDP to port 7932 on the listener.

[hperm dump.zip](https://github.com/sipcapture/homer/files/6319116/hperm.dump.zip)

[2021-04-15 16:01] kYroL01 commented on #458
Hi @ChicagoJay Thank you ! I'm going to check for this integration from next week -
Yes, the trace will help me a lot ;)
Thanks for the patience!
Best Regards

[2021-04-19 16:59] bmgante opened #462 "Change homer title"
Hi,
Is it possible to change "(prod)" on browser tab?

![image](https://user-images.githubusercontent.com/27358817/115274607-c5944080-a138-11eb-9b21-f3ad3a7b3ba3.png)

Was checking on index.html but didn´t find any reference to "(prod)", only HOMER title.

Thanks

[2021-04-21 09:33] shchbo opened #463 "initial login to homer 7 UI"
after installing homer 7 using install script on centos 7 the initial login to UI using admin/sipcapture returns "wrong password" error.
is it possible to change it in the DB somewhere so i can start working with homer?

[2021-04-21 09:49] #460 closed, assigned to nobody

[2021-04-21 10:41] lmangani commented on #463
hello @shchbo
as you positive your db is up and running? did you keep any installation logs?

[2021-04-21 10:52] shchbo commented on #463
the db is up and running. i installed homer using the same script a few times before and it never happened to me.
 i am afraid i dont have the installation logs.

[2021-04-21 12:10] lmangani commented on #463
just ran a vanilla setup and everything works as expected. you can use `homer-app` to perform basic maintenance including resetting users. give that a try and let us know
[code]

[2021-04-22 06:04] shchbo commented on #463
is it possible to update the user 'admin' for UI with new password like this:
homer-app -update-ui-user  admin -update-ui-password sipcapture
it returns
{"level":"info","msg":"Connecting to the config: [localhost, homer_user, homer_config, 0]\n","time":"2021-04-22T09:04:06+03:00"}
{"level":"info","msg":"----------------------------------- ","time":"2021-04-22T09:04:06+03:00"}
{"level":"info","msg"

[2021-04-25 04:24] shchbo commented on #463
when i try to do something else using the homer-app command i get the same error over an over again:
{"level":"error","msg":"pq: password authentication failed for user \"postgres\"","time":"2021-04-25T07:07:30+03:00"}
{"level":"error","msg":"Couldn't establish connection. Please be sure you can have correct passwordpq: password authentication failed for user \"postgres\"","time":"2021-04-25T07:07

[2021-04-26 10:25] lmangani commented on #463
The issue is clearly with the authentication. Perhaps the key ended up being generated with some invalid char?
Please try to set the postgres password and homer password manually and everything should work just fine.

[2021-04-27 12:24] shchbo commented on #463
i am sorry for my ignorance but when i run this command in order to change the UI password i dont get errors but i still cant log in due to wrong password
homer-app  -database-root-user=postgres -database-host=localhost -database-root-password=postgres -update-ui-password=password
what am i doing wrong? is this the right command?

[2021-04-28 16:46] devBash99 commented on #443
@adubovikov  This issue still persists. I have tested the latest release of homer app and homer ui.   The entry for shared pannel repeats for every new user that is added.

[2021-04-28 19:30] adubovikov commented on #443
unfortunately you have to delete these dashboards in Settings->Advanced->dashboards
The DB has been copied all shared dashboards as an own local copy. Sorry about this bug.
Whats version do you use ?

[2021-04-28 21:30] devBash99 opened #464 "Heplify server decoder issue"
Looking at heplify server logs. I found this issue . I have an issue of missing data as well. Can someone help me out here.
Note: I am not using the latest version of heplify server.

decoder.go:132: parseStartLine err: received err while parsing start line: parseStartLineRequest err: request line did not split on LWS correctly "ate>\n</dialog>\n</dialog-info>\nNOTIFY sip:6910@<ip>:44779;transport

[2021-04-28 21:34] devBash99 commented on #443
These are the versions I have tested today. I build them from the master branch today.

hepserver 1.54+842d096(commit number)
homer-app 1.3.22
homer-ui 7.9.12

[2021-04-28 21:40] adubovikov commented on #443
just delete these dashboards

[2021-04-28 21:42] adubovikov commented on #464
looks like there is no \r\n but \n\n\n - this looks not RFC compliance and need extend decoder.

[2021-04-28 21:43] devBash99 commented on #443
so the way would be that be to create shared pannels then create all the users and just delete the extra pannels

[2021-04-28 22:22] devBash99 commented on #464
I am sorry i'm not much familiar with this and i didn't understand what you meant by extend decoder. If you can guide me on what needs to be done than i can try and work on the code for a solution

[2021-04-28 23:38] devBash99 commented on #464
Also could this also be due to using quite an older version of capt-agent?

[2021-04-29 05:38] adubovikov commented on #443
Or just disable shared dashboards and after delete the wrong one and enable
again

On Wed, 28 Apr 2021, 23:43 devBash99 ***@***.***> wrote:

[2021-04-29 08:39] kYroL01 commented on #464
@devBash99 what Alexandr is saying is refers to this part I guess
` "ate>\n\n\nNOTIFY sip:6910`
if you see there is `\n\n\n` instead `\r\n` and this create the problem for the **split**

[2021-04-29 12:17] devBash99 commented on #464
@kYroL01  Ah yes i saw that sorry. So i just need to modify the decoder to be able split on \n\n\n as well. Or maybe go to the source and see what causing this.

[2021-04-29 12:40] lmangani commented on #464
@devBash99 modifying the decoder is not the final solution, rather use this useful information to fix the original client breaking standard

[2021-04-29 16:10] devBash99 commented on #464
@lmangani  The client we use to send packets to hep server is capt-agent. Could this be a problem happening when capt agent encapsulates the packets (we have very old capt agents running) our infrastructure consists of multiple freeswitch as media server and opensisps and sbc. If capt agent dosen't add anything than media servers etc might be sending non compliant packets.

[2021-04-29 16:10] devBash99 commented on #464
This the second kind error.
decoder.go:132: parseStartLine err: received err while parsing start line: parseStartLine err: length of s.Val is less than 3
"e>\n</dialog>\n</dialog-info>\nNOTIFY sip:6901@:43394;transport=TCP SIP/2.0\r\nVia: SIP/2.0/TCP :5060
 nodeID: 1912, protoType: 1, version: 2, protocol: 6, length: 1298, flow: :5060->:43394
  server.go:297: stats since last 5 minutes. PPS: 2972,

[2021-04-29 16:15] lmangani commented on #464
@devBash99 we can't support ancient versions, this issue might already be resolved as far as we know in a recent release, so the troubleshooting is void unless you can upgrade the instance. Can you do so?

[2021-04-29 16:19] lmangani commented on #464
@devBash99 to be clear, captagent is NOT responsible for the newline errors, it just captures and forwards them including any errors they might have - some servers will handle this better than others in HEP just like SIP realms. In my understanding and opinion the actual fault is one of the SIP client/proxy etc sending it forward.

[2021-04-29 16:30] devBash99 commented on #464
@lmangani  Yes I had planned on upgrading all the capt agents but i was holding on because i was not sure if capt agent would be the culprit here . Our entire infrastructure is old (except homer) we are upgrading to new versions and servers. Like we are running a lot of freeswitch servers on version 1.4.26 on debian 8 . I was looking for a quick solution for now.

[2021-04-29 16:39] lmangani commented on #464
@devBash99 I don't think changing the agent would change the fact those captured messages are malformed and rejected by the parser. If you want to try submit a PR for heplify-server to allow those newline malformations as discussed above and want to live with this feel welcome and we'll assist.

[2021-04-29 16:53] devBash99 commented on #464
@lmangani yes I agree with you, Trying to solve the issue right now with sip clients or proxy is something we can't tackle right now because we are scrapping our entire current infrastructure moving to a whole new production env soon. So yes for a short time I would like to live with this solution(don't like it very much as well). Any help would be very much appreciated. I will try to submit a PR

[2021-04-29 22:18] kYroL01 commented on #464
@devBash99  I can address you directly to the code

The error you see in your **first** log
`parseStartLineRequest err: request line did not split on LWS correctly`
is triggered here https://github.com/sipcapture/heplify-server/blob/a683cb969af2eeae93abc3f112c4dc25b2168dfc/sipparser/startline.go#L97

The error you see in your **second** log
`parseStartLine err: length of s.Val is less than 3. Inva

[2021-05-03 05:01] shchbo commented on #463
how can i remove homer including DB so i can install it again using the install script?

[2021-05-11 11:04] giavac opened #465 "Wiki: fix grafana port"
Just a minor thing in https://github.com/sipcapture/homer/wiki/Quick-Install - the listening port for grafana is listed as 3000, but that's the internal port in the container. It should be 9030 instead.

I'd do a PR, but I'm not sure how for the Wiki.

[2021-05-11 11:08] adubovikov commented on #465
Updated! thank you @giavac !

[2021-05-11 11:08] #465 closed, assigned to nobody

[2021-05-17 18:54] ChicagoJay commented on #458
Hi @kYroL01 - just checking in, since it's been a month since the last reply.  Thanks!

[2021-05-20 11:28] adubovikov commented on #458
@kYroL01 any updates here ?

[2021-05-20 12:24] kYroL01 commented on #458
Hi @ChicagoJay apologize for my late, I'll ping you in once I finished it.
Best Regards!

[2021-05-20 17:12] ciscomonkey opened #468 "LDAP authentication not getting users groups"
Setting up LDAP Authentication, and I can authenticate against AD with adminmode and usermode set to true.  When I set these to false (to require group membership) Homer is not seeing the groups on the user.

In my config:
[code]

And when logging in as this user I get the following logs:
[code]

The user is part of the group, i've also tried the recursive search for groupfilter and tried the grou

[2021-05-20 20:15] adubovikov commented on #468
do you use full DN for group match ? Do you have an example for ldapsearch ?

[2021-05-20 20:28] ciscomonkey commented on #468
I've tried both just name as well as full DN with the same result.  The same settings are working for authenticating users into the grafana instance as well.

What do you want to see for ldapsearch?

When searching the user, I see the groups:
[code]

Searching the group, I see the user as a member:
[code]

[2021-05-21 22:25] donweasel opened #469 "Homer gets data but not showing in GUI"
Hello,
i just installed HOMER using the Quick Install guide on a CENTOS7 plain vanilla and i have setup my freeswitch server (1.10) to send packages to the HOMER and i can see traffic coming when running the command "ngrep -W byline -d ens192 port 9060" but if i try to search in the GUI nothing comes up.

this is the log when running the command  tailf /heplify-server.log
2021-05-21T18:02:08-04:00

[2021-05-24 13:02] donweasel commented on #469
anyone ??

[2021-05-24 13:08] lmangani commented on #469
@donweasel what is the question? I'm afraid we can't really guess much with this little information available. If you see the HEP packets post some. If they are not calls/INVITEs, look for them in the proper partition type. If you think there's a fault, please do attach logs/examples in order for `anyone` to help out ;)

[2021-05-24 13:11] adubovikov commented on #469
@donweasel please be sure that your homer-app has connection to the postgresql DB

[2021-05-24 14:27] donweasel commented on #469
Hi @lmangani  Lorenzo,

what kind of logs should i send to you?

im using captagent.

@adubovikov how can i check that?

[2021-05-24 14:50] lmangani commented on #469
@donweasel I wouldn't know how to find something I know nothing about, I already asked a couple questions above, if you attach an example of your ngrep output, some more details on your setup and so on, we might be able to give you a few starters, but we won't try guessing otherwise :)

Also:
- Freeswitch supports HEP natively for signaling (you'll need this if you do TLS)
- HEPlify might be bette

[2021-06-01 11:46] ngeksyo opened #470 "Homer-UI only display max of 200 records"
Hi All,

I am noticing that homer-ui only display 200 records max. Is this the correct behavior or is this a bug?

I am sure that there are more that 200 records because i can search records that are not in the list and HEP traffic to server are just fine.

![image](https://user-images.githubusercontent.com/5231255/120316630-37eb6980-c310-11eb-8457-aa627e3fba8e.png)

![image](https://user-images.g

[2021-06-01 11:51] lmangani commented on #470
This is a common first day obstacle :) Add the `query limit` field to your forms, and you'll control the limit of each query

welcome to the homer club!

[2021-06-01 11:51] #470 closed, assigned to nobody

[2021-06-09 20:22] ciscomonkey commented on #468
@adubovikov was there anything you want me to pull for this issue?

[2021-06-10 10:16] adubovikov commented on #468
I will take a look on it today!

[2021-06-14 08:04] kYroL01 commented on #458
Hi @ChicagoJay I implemented the HPERM dissection in Heplify - I need couple of days for test and send the PR, once is merged the work is done :)

[2021-06-14 12:32] ChicagoJay commented on #458
Excellent!  I can't wait to try it out!

Thanks!

[2021-06-14 12:38] adubovikov commented on #468
here you are

https://github.com/sipcapture/homer-app/commit/d5339e5c6f24a5ebc4bb5addc48067ec3dbf3ef9

please check it and let us know!

[2021-06-15 13:35] i0nviz opened #471 "Homer stops working after reboot"
Hello.

It's been a few reinstall of my VM because I've tought I did something wrong, but it wasn't the case.

I'm installing it on Debian 9 using the automated script method, and it works great, until the VM is actually rebooted. Then it stops addind data to the database. I can still search for any calls that were written in the DB before the  reboot, so DB access works fine.

Any help would be a

[2021-06-15 13:40] lmangani commented on #471
We can't unfortunately guess what the issue might be. Please attach all the relevant logs from heplify-server, homer-app, postgres when this happens and we might be able to help further.

[2021-06-15 13:51] #469 closed, assigned to nobody

[2021-06-15 14:16] ciscomonkey commented on #468
Unfortunately doesn't appear to change:

[code]

[2021-06-15 18:53] adubovikov commented on #468
@ciscomonkey sorry, but can you check if "CN=Ryan Mullins,OU=Users Team,OU=SERVICE USERS,DC=DOMAIN,DC=local" has any memberof attributes ? or maybe CN=rmullins ? Because the ldapsearch like -W "sAMAccountName=userid" doesn't say too much

[2021-06-16 02:34] adubovikov commented on #471
I think the issue is because heplify-server lost the connection to your DB. Once you will restart it , you will able to see new packets

[2021-06-22 17:59] tp-8426 opened #472 "db won't start, docker log file show permission issue"
When running docker-composer, the db stays in a "Restarting" state:
    **db               docker-entrypoint.sh postgres    Restarting**

Looking at **docker-compose logs --follow db**:

    chmod: /var/lib/postgresql/data: Permission denied
    chown: /var/lib/postgresql/data: Permission denied
    ...
    db exited with code 1

------------------------------------------------------------------
*

[2021-06-22 18:34] tp-8426 commented on #472
I found an post that suggested that the volume mapping should be "- ./postgres-data:/var/lib/postgresql" instead of "- ./postgres-data:/var/lib/postgresql/data".  Ref: https://serverfault.com/questions/857209/postgres-in-a-docker-container-not-working-constantly-restarting

Removing "/data" and then issuing **docker-compose up -d** worked, all containers are up.

[2021-06-22 18:48] ciscomonkey commented on #468
Sorry @adubovikov for the delay, I seem to have missed the notification.

It does, it's in the first snippet in the notes above.  I just put ```userid``` to scrub the user data in those examples - here's a full snippet of the ```memberOf``` attributes of my user - replacing the domain name with {{DOMAINNAME}} on the output:

[code]

[2021-06-28 14:56] ChicagoJay commented on #458
Hi @kYroL01 - Any chance I can test this out soon?  It looks like I have a free morning coming up tomorrow, and I can spend some time on it, if it's ready.

Thanks!

- J.

[2021-06-29 09:01] kYroL01 commented on #458
Hi @ChicagoJay the patch is done here - https://github.com/kYroL01/heplify
You can test it and give me some feedback - let me know!
remember to use `-bpf "port 7932"` when you launch heplify
Thanks a lot

[2021-06-29 13:51] ChicagoJay commented on #458
@kYroL01 I ran apt update, will that grab the new patch, or do I have to manually install it?  Sorry - I'm still a neophyte with open source.  I installed everything with the Homer installer script.  Which file do I modify to add the arguments to heplify's startup string?

I see `/etc/heplify-server.toml` and `/lib/systemd/system/heplify-server.service` - should I add something in there?

[2021-06-29 21:54] kYroL01 commented on #458
Hi @ChicagoJay nothing to be sorry, will help you :)
first of all `heplify-server` is different than `heplify`.
heplify is the capture agent, the one who catch your traffic, dissect the HP_ERM and extract SIP to send to heplify-server (and then this traffic is shown to Homer).
You need to download my patched heplify and use that, but if you don't know how to do it, we'll write you a quick procedur

[2021-06-30 12:43] ChicagoJay commented on #458
@kYroL01 - I didn't realize that!  Of course, it was probably 2008 before I knew `Java` and `Javascript` had NOTHING to do with each other!  LOL

I'll take a look at getting `heplify` installed, and pray I don't break anything.  I'm using Debian Buster.  The procedure would be very helpful, and I am sure will save you from getting questions in the future!

Thanks!

[2021-06-30 13:08] kYroL01 commented on #458
Hey @ChicagoJay
I don't think you can break anything ;)
In the meantime try to do a git clone from this repo https://github.com/kYroL01/heplify
Basically to test you need to
- git clone https://github.com/kYroL01/heplify.git
- make all
this create a binary fine called `heplify` and follow the [Usage](https://github.com/kYroL01/heplify#usage) and [Example](https://github.com/kYroL01/heplify#example

[2021-06-30 13:41] ChicagoJay commented on #458
`make all` returned an error:

[code]

I installed golang, and I am still getting an error:

[code]

I'll see if I can figure out where I get that...

[2021-06-30 15:47] kYroL01 commented on #458
@ChicagoJay that is just missing libpcap, so `apt-get install libpcap` for your Debian

[2021-06-30 16:01] ChicagoJay commented on #458
@kYroL01 - I thought that's what it was, but I have it installed:

[code]

[2021-06-30 20:12] kYroL01 commented on #458
@ChicagoJay Sorry, it should be `libpcap-dev`

[2021-07-01 12:56] ChicagoJay commented on #458
@kYroL01 OK - the `make all` completed, and I have a binary!

I invoked it as you specified, (`sudo ./heplify -bpf "port 7932" &`) and got a PID.  But Homer still isn't showing any data.  `tcpdump` shows the streams coming in from the mirror:
[code]
But nothing is showing up in the GUI.

What's the next step please?

Also - what is the recommended method of invoking heplify as a service?
Is the bi

[2021-07-01 16:16] kYroL01 commented on #458
@ChicagoJay probably this example can help you https://github.com/kYroL01/heplify#examples
I think you just need to specify where to send traffic, so your Homer instance.
Anyway yes, you just need the binary of heplify.

I'll availlable later to give you more help - in the meantime try it

[2021-07-01 17:07] ChicagoJay commented on #458
I moved heplify to `/usr/local/bin/` then I tried `sudo heplify -hs "127.0.0.1:9060" -bpf "port 7932" &` and I am still not seeing anything in Homer.

[2021-07-01 17:10] ChicagoJay commented on #458
@kYroL01 some good news: when I invoke `sudo heplify -hs "127.0.0.1:9060" -bpf "port 7932" -e` I get
[code]
So heplify is definitely getting the packets, recognizing them, and decoding them!  Now I just need to figure out how to get them to Homer....

[2021-07-02 10:21] kYroL01 commented on #458
@ChicagoJay yes, so heplify parse the pkts correctly! nice!
If you put the IP and Port of your Homer instance correctly it should work - Let me think about it and I'll try on my side also.
If then you can solve let me know.
Thanks :)

[2021-07-02 10:37] lmangani commented on #458
@ChicagoJay

- copy the new binary on your target system
- if [running as a service](https://github.com/sipcapture/heplify/blob/master/example/heplify.service)
  - modify the service `ExecStart` with the desired flags/settings
  - restart the service
- if running manually
  - `sudo heplify -hs "YOUR_HOMER_IP_HERE:9060" -bpf "port 7932"`

[2021-07-02 13:27] ChicagoJay commented on #458
@lmangani Everything is running on a single VM, so shouldn't my command line `sudo heplify -hs "127.0.0.1:9060" -bpf "port 7932"` have worked?

I modified heplify.service to the following:

[code]

Then I did the daemon-reload, start and enable, and the service is up and running:
[code]

But I am still not seeing any data in Homer's main screen.

Do I need to enter some kind of string into the Cal

[2021-07-02 13:29] ChicagoJay commented on #458
OMG - I'm an idiot!  I hit search, and I HAVE DATA!!!  It looks like I just needed to reload the page.  Woohoo!!!!

Thanks @lmangani & @kYroL01 - you guys ROCK!

[2021-07-02 13:29] #458 closed, assigned to kYroL01

[2021-07-02 13:33] lmangani commented on #458
@ChicagoJay happy to help! if you feel like helping us back, fill this in: https://docs.google.com/forms/d/e/1FAIpQLScba0IC6KPiKb6T2AyHefJembwhPGf1q3tNgZlhbHgYAjc_Jw/viewform

[2021-07-02 13:59] ChicagoJay commented on #458
@lmangani Done!  I hope it helps.

[2021-07-03 08:34] kYroL01 commented on #458
@ChicagoJay I'm really really glad that this work - Enjoy Homer :))
Cheers!!

[2021-07-05 21:00] lmangani commented on #472
Feel free to send in a PR if you think any of the defaults are at fault here

[2021-07-05 21:00] #472 closed, assigned to nobody

[2021-07-05 21:00] lmangani commented on #471
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:00] #471 closed, assigned to nobody

[2021-07-05 21:02] lmangani commented on #464
@devBash99 Feel free to send in a PR anytime if you feel this is still required - we'll assist if you get stuck refer this issue

[2021-07-05 21:02] #464 closed, assigned to nobody

[2021-07-05 21:03] lmangani commented on #463
All available commands are in the readme - if you feel any is missing, let us know.
Since the issue was not specifically with Homer, I'll close this but feel free to comment if you still need assistance.

[2021-07-05 21:03] #463 closed, assigned to nobody

[2021-07-05 21:05] lmangani commented on #456
Thanks @nathanleyton at this stage I agree with @rfuchs in seeing no blocking components in their client implementation.
If you'd like to discuss this here, please feel free to add info.

[2021-07-05 21:05] #456 closed, assigned to nobody

[2021-07-05 21:06] lmangani commented on #447
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:06] #447 closed, assigned to nobody

[2021-07-05 21:06] lmangani commented on #442
Closing as no longer reproducible. Please reopen if this is still an issue.

[2021-07-05 21:06] #442 closed, assigned to nobody

[2021-07-05 21:07] lmangani commented on #449
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:07] #449 closed, assigned to nobody

[2021-07-05 21:08] lmangani commented on #448
Closing as non reproducible. Please reopen if this is still an issue on the latest version - thanks!

[2021-07-05 21:08] #448 closed, assigned to nobody

[2021-07-05 21:08] lmangani commented on #432
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:08] #432 closed, assigned to nobody

[2021-07-05 21:08] #418 closed, assigned to nobody

[2021-07-05 21:08] lmangani commented on #423
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:08] #423 closed, assigned to nobody

[2021-07-05 21:09] lmangani commented on #445
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:09] #445 closed, assigned to aqsyonas

[2021-07-05 21:09] lmangani commented on #437
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:09] #437 closed, assigned to nobody

[2021-07-05 21:10] #398 closed, assigned to nobody

[2021-07-05 21:10] #405 closed, assigned to nobody

[2021-07-05 21:10] lmangani commented on #408
Closing for no updates. Please reopen if this is still an issue.

[2021-07-05 21:10] #408 closed, assigned to nobody

[2021-07-05 21:12] lmangani commented on #412
I see this was never completer or confirmed - is this still an issue which needs assistance?

[2021-07-05 22:05] AnonymousMonkey75 commented on #412
yes it is still broke as of three weeks ago

On Mon, Jul 5, 2021 at 4:12 PM Lorenzo Mangani ***@***.***>
wrote:

[2021-07-06 13:04] Gomam0n opened #473 "some proto header can not be parsed"
When I click on the "SIP METHOD" in the homer website, it is expected to show the parsed proto header like this.
![image](https://user-images.githubusercontent.com/39645704/124603494-8e623f80-de9c-11eb-8163-86d2ce872c65.png)
But it seems that some of the proto headers can not be correctly parsed. The message is just raw JSON string (sorry I do not have the screenshot at present). Why does it happe

[2021-07-06 13:07] lmangani commented on #473
@Gomam0n hard to tell without knowing anything about this data and your setup - please try being more specific, including what is capturing what, and what you would expect being displayed instead. From the screenshot this looks like a LOG (type 100) so our parser would treat it like a JSON object, as-is.

[2021-07-07 03:15] Gomam0n commented on #473
@lmangani Yes, this message in the picture above is parsed successfully. But for the message in the picture below, it can not be parsed.
![image](https://user-images.githubusercontent.com/39645704/124694718-69111800-df14-11eb-9817-dc36d1ee12d7.png)
The json string is
`{"jsonrpc":"2.0","id":4174,"method":"verto.invite","params":{"callID":"j2sip-d2520b50-67a0-413b-a837-9823f56037fd","sdp":"v=0\r\no=

[2021-07-07 07:18] lmangani commented on #473
@Gomam0n if you do not describe your setup, particularly what is sending HEP, we won't be able to help you at all

[2021-07-07 07:50] Gomam0n commented on #473
@lmangani This packet is captured by heplify and sent to heplify-server. The command of heplify is
`./heplify -hs $HEPAddr -pr $PORT -l $MOD -m SIP -tcpassembly`. Heplify-server insert it to hep_proto_1_call (as a SIP call) in PostgreSQL. Heplify, heplify-server, homer-app and homer-ui are compiled from source with the latest version.

[2021-07-07 08:01] lmangani commented on #473
@Gomam0n what is your expectation vs. actual results? This is not a SIP message, its just SDP from a browser, I guess?

[2021-07-07 08:10] Gomam0n commented on #473
@lmangani  I expect the json string  should be parsed like that in the first picture instead of the raw string. It is websocket meassge. I modified the heplify-server code so that it can be inserted into hep_proto_1_call and I can see it with SIP calls in homer.

[2021-07-07 08:23] lmangani commented on #473
@Gomam0n this is not SIP, so that's your issue. HOMER won't try to JSON parse a SIP message.
Perhaps you should outline your goals and your changes rather than just insert data and expect it to magically work? :)

[2021-07-07 08:34] Gomam0n commented on #473
@lmangani ok I see. Just one more question. In my first screenshot, the message is also websocket. And it is captured and sent in the same way (by heplify and inserted into hep_proto_1_call). Why is its json string parsed correctly?

[2021-07-10 19:12] lmangani commented on #412
@AlexeyOplachko @RFbkak37y3kIY please reconfirm and fix this issue

[2021-07-14 17:49] lmangani commented on #473
@Gomam0n no clue, we will try reproduce when time allows!

[2021-07-16 16:59] bmgante opened #474 "SIP Method Message"
Hi.

Does homer support Sip request method message? If yes, what is the template to be used to query those messages in homer UI?

Thanks

[2021-07-16 17:35] lmangani commented on #474
@bmgante HOMER will capture anything its agents can sniff and forward, which in most cases includes any SIP method or its response when agents are properly configured. I'm not at all sure what you mean.

[2021-07-19 11:12] bmgante commented on #474
indeed, I am able to get message type through sip_deafult.
It was good if we could add MESSAGE as a type for SIP Method ddl:
![image](https://user-images.githubusercontent.com/27358817/126151517-1d8eb20e-17bf-438e-9857-7d3021980d15.png)

[2021-07-19 11:20] adubovikov commented on #474
you can type as well :-) anyway, the mapping can be easy edit and you can add any type of methods

[2021-07-25 08:58] #474 closed, assigned to nobody

[2021-07-31 15:17] heig opened #475 "Talk Duration is zero and Ringing Time the whole call?"
Hi everybody,
I installed homer using the Docker-image today and started with a few test calls to test it out.

However in the "Session Info" I see that the Ringing Time shows nearly the time of the whole call and the "Talk Duration" is 00:00:00. But since I was on the phone with myself, I know that some talking happend :)

![image](https://user-images.githubusercontent.com/8817380/127744395-89c59

[2021-07-31 15:33] lmangani commented on #475
This would suggest a 200 OK after a 180/183 was missed, but we can't help without seeing the full session message stack.

[2021-07-31 15:37] heig commented on #475
Hm, from what I can see, it looks like this is okay. 183 -> 180 -> 200
![image](https://user-images.githubusercontent.com/8817380/127744993-1470430f-304b-48d8-b1c8-b6126831031d.png)

Here is the full TXT Export.

[export_65.txt](https://github.com/sipcapture/homer/files/6911405/export_65.txt)

[2021-07-31 15:55] lmangani commented on #475
This could be due to the 183 + 180 in the same session. We'll try to reproduce and confirm if this is indeed the case.

[2021-07-31 15:56] heig commented on #475
thank you very much. If you need more details, please let me know!

[2021-08-01 11:47] adubovikov commented on #475
fixed in the dev branch
https://github.com/sipcapture/homer-ui/commit/b6fe6ad3dfe5256df3b4609f22a89f0b3d7ddbcc

you can pull or just wait for a new release.

[2021-08-02 12:57] lmangani commented on #454
@hamidrhashmi please sync with @AlexeyOplachko to make sure this was addressed

[2021-08-03 16:33] ChicagoJay opened #476 "docker-compose up throws error"
VM running Windows 10 Pro (21H1) and Docker Desktop with Debian WSL2 environment.

After running
[code]
The `docker-compose up -d` command fails at `Running 4/6` with: `Error response from daemon: path /home/technician/homer7-docker/heplify-server/hom7-prom-all/prometheus is mounted on / but it is not a shared mount.`

Containers prometheus and grafana never get created.

Please let me know how to

[2021-08-03 17:56] solarmon opened #477 "SDP packet indicator in flow view"
Hi,

When I use sngrep, I find it useful when it shows a "(SDP)" text on a packet that has SDP in it.

However, in the Homer 7 web GUI in the flow view of the trace, you have to go in to the packet to see if there is any SDP details in it.

Can the flow view be changed to give an indication of whether SDP is present in a packet or not, without having to open it up. If the same behaviour as sngrep

[2021-08-03 18:22] lmangani commented on #477
Thanks for letting us notice! This is indeed a bug as this feature has been in homer for the last 10+ years.
We'll fix and restore the SDP indicator in the Flow and Messages tab.

[2021-08-04 11:20] lmangani commented on #477
resolved in latest homer-app (1.3.24)
![image](https://user-images.githubusercontent.com/1423657/128172293-1fb13192-5c04-4531-8975-284cf72ddb33.png)

[2021-08-04 11:20] #477 closed, assigned to adubovikov, RFbkak37y3kIY

[2021-08-04 12:01] solarmon commented on #477
@lmangani

Thank you!

What is the process to upgrade an existing install without losing existing data?

[2021-08-04 12:05] lmangani commented on #477
It depends - if you installed using packages, upgrade the packages - no data will be lost (its in the DB), if you used docker pull the latest images and restart.

_Note the packages are being built and pushed so there might be a delay in them showing up on the repository._

[2021-08-04 12:19] solarmon commented on #477
@lmangani
Thank you. I'm using dockers. I used "docker-compose pull" and then "docker-compose up -d", but I did have some errors returned - for example:

[code]

and

[code]

For the last one, I used "docker stop db" and tried it again and it built it OK.

Now I can see the SDP indicator in the flow view!

I also now realise that it would also be useful to see this SDP indicator in the results and

[2021-08-04 12:31] lmangani commented on #477
Upgrade again in a couple hours. There's another half of this PR which was not merged at the time of building.

[2021-08-04 13:57] AlexeyLilichenko opened #479 "Shared link bug: SIP flow not working"
Have problem with shared link.
I prepare **shared link**, in my case example for dev-system:
http://172.27.88.125:9082/search/result?%7B%22timestamp%22:%7B%22from%22:1628056194750,%22to%22:1628056705670%7D,%22param%22:%7B%22search%22:%7B%221_call%22:%7B%22id%22:43126,%22callid%22:%5B%22a2fcaeea-68dd16b6@10.128.150.71%22,%224642b04b27bae6dd597a418a0799ef15@172.27.88.207:5060%22,%226f2dbfe00aa114c32

[2021-08-04 19:26] ciscomonkey commented on #468
@adubovikov just curious if you needed anything else from me on this one?

[2021-08-04 20:13] lmangani commented on #468
Hello @ciscomonkey we will get to this eventually, but unfortunately our agenda is quite loaded at the moment.
If this is urgent you would consider a sponsoring this fix, we might prioritize it forward.

[2021-08-05 07:12] adubovikov commented on #479
The issue has been fixed and we released a new package. Please test it and reopen the issue if needed.

[2021-08-05 07:12] #479 closed, assigned to adubovikov, RFbkak37y3kIY

[2021-08-05 07:14] adubovikov commented on #477
fixed. UI 7.9.16

[2021-08-05 07:15] adubovikov commented on #475
fixed in the release. Please test it and reopen ticket if needed.

[2021-08-05 07:15] #475 closed, assigned to adubovikov, RFbkak37y3kIY

[2021-08-05 07:16] adubovikov commented on #468
@ciscomonkey sorry, i will try to find time on this WE. As @lmangani mentioned before, now we are kindly busy :( Thank you!

[2021-08-05 08:03] solarmon opened #480 "Resizing columns in Display Results"
Hi,

I wanted to resize the "Session ID" column width. However, it kept reverting back to the original/default width.

The only column I can change the width for is the "Date" column.

Checking the Column Settings I notice that there are two options:
"Size To Fit"
"Size Columns To Fit"

The "Size To Fit" was already enabled. I enabled "Size Columns To Fit" but I still couldn't resize the columns.

[2021-08-05 08:07] solarmon commented on #480
If "Size To Fit" is meant to re-size the column to automatically fit the column text, then this is not working - as the Session ID text is truncated, which is why I wanted/needed to re-size it in the first place.

[2021-08-05 15:05] AlexeyOplachko commented on #480
Did an update for this, now they're mutually exclusive (radio button instead of checkbox) and there's four options

1. Auto-resize on load so all columns fits on screen
2. Auto-resize continuously so all columns fits on screen
3. Auto-resize so content of all columns fit inside without clipping, but that adds horizontal scrolling in most cases.
4. No auto-resizing at all

[2021-08-06 10:49] #480 closed, assigned to AlexeyOplachko

[2021-08-11 09:37] petekelly opened #481 "Docker install docs"
Minor issue, the docker installation lists port 9060/tcp for sending HEP, it should be 9061

https://github.com/sipcapture/homer/wiki/Quick-Install#-docker-install

[2021-08-11 09:43] lmangani commented on #481
Hey @petekelly
Which compose bundle are you referring to? Generally speaking, the udp/tcp/tls HEP ports can be freely changed via the heplify-server container ENV variables to match the mapping, none is statically assigned so this can be overridden.

[2021-08-11 09:49] petekelly commented on #481
Hello @lmangani  :)

The docker install guide says "You should now be able to access your HOMER instance on port 9080 and send HEPv3 traffic to port 9060" - this was in fact 9060/UDP and 9061/TCP when I checked the docker-compose.yml file.

Maybe it just needs clarification, I spent a while trying to send to 9060/TCP (I assumed tcp being the default for hepv3)

"You should now be able to access yo

[2021-08-11 09:52] lmangani commented on #481
I see what you mean now - modified to make a little more sense! Thanks Pete!

[2021-08-11 09:52] #481 closed, assigned to nobody

[2021-08-11 09:55] petekelly commented on #481
Thank you :) I checked it and I think you changed the Manual Install section instead of Docker. Any chance you could change that one too?

[2021-08-11 10:07] lmangani commented on #481
done and done! ;)

[2021-08-12 14:27] hamidrhashmi commented on #454
@AlexeyOplachko The issue is not fixed yet.

VERSION: homer-app 1.3.28
VERSION: heplify-server 1.54
VERSION: FreeSWITCH version: 1.10.5-release~64bit ( 64bit) (Capture Agent)

![image](https://user-images.githubusercontent.com/14875110/129214416-3e52f5a2-f29e-458a-a641-e4e82cad3b67.png)

I made a query against the same callid in postgres DB
[code]
![image](https://user-images.githubusercontent.com

[2021-08-12 15:29] adubovikov commented on #454
looks like the issue is in the old fs 1.10. To confirm that please send the HEP traffic from your fs in the pcap format or try to upgrade the fs to the latest version.

[2021-08-13 03:17] portsip opened #482 "Can I use HEP agent with TCP to send message to HOMER server?"
Can I use HEP agent with TCP to send messages to the HOMER server?
The UDP maybe lost the data.

[2021-08-13 10:10] adubovikov commented on #482
yes, you can,

[2021-08-13 10:13] adubovikov commented on #482
https://github.com/sipcapture/captagent/blob/master/conf/transport_hep.xml#L9

change to tcp and of course be sure that the destination port is also TCP

[2021-08-13 10:13] #482 closed, assigned to nobody

[2021-08-18 08:03] xiexin0606 opened #483 "Does Homer supports delete the old SIP messages?"
Say if the homer always running but I just want to keep the last 7 days sip message in homer, should I write code to do it by myself? Does HOMER already offer this feature?

Thanks

[2021-08-18 08:35] adubovikov commented on #483
https://github.com/sipcapture/heplify-server/blob/master/example/homer7_config/heplify-server.toml#L31-L35

[2021-08-18 08:35] #483 closed, assigned to nobody

[2021-08-19 11:39] solarmon opened #484 "Searching in custom headers in Homer 7 web GUI"
Hi,

As discussed in the Gitter channel, I would like to figure out how I can configure the Homer 7 web GUI to allow me to search based on custom headers.

Please note that my Homer 7 setup is from https://github.com/sipcapture/homer7-docker so this may important when talking about where configurations are.

On the Gitter channel I was given some links, but I was struggling to understand how to pu

[2021-08-19 11:57] solarmon commented on #484
The X-Homer-Search header is shown in the parsed SIP headers for the INVITE:
![image](https://user-images.githubusercontent.com/46369787/130064326-ee215f79-816c-4cc5-996a-cacbacb540e6.png)

If I try to search for 'blank' in the search form using the "X-Homer-Search" field, it does not return any results:

![image](https://user-images.githubusercontent.com/46369787/130064570-4a91d19e-7c2f-4270-809f

[2021-08-19 12:31] adubovikov commented on #484
`        "sid_type": true`

should be removed.

[2021-08-19 12:50] solarmon commented on #484
I have removed it, and I also tried setting 'hide' to false:

[code]

But this did not seem to make any difference.

[2021-08-19 12:51] adubovikov commented on #484
please go to Details tab and show us the all records what you can see.

![homer-7-9-14-prod-](https://user-images.githubusercontent.com/4513061/130071188-b4cd77fc-6bea-4b14-b1c1-e94b3f147871.png)

[2021-08-19 12:53] solarmon commented on #484
In the Details tab, I don't see the custom header:

![image](https://user-images.githubusercontent.com/46369787/130071501-70d1cabd-15b2-4c6f-9848-efa6ca033776.png)

[2021-08-19 12:55] adubovikov commented on #484
this means it has been not extracted. You have to check your heplify-server.toml

[2021-08-19 13:05] solarmon commented on #484
Where do I check that? As stated already, this Homer 7 setup is built using https://github.com/sipcapture/homer7-docker and I've only had to configure/edit the docker-compose.yml file.

I can get in to the heplify-server docker image, but where is the heplify-server.toml file?

My understanding is that in this docker based setup it will use the environment variables for the configuration? If I che

[2021-08-19 13:30] adubovikov commented on #484
@lmangani I am not sure, but will be this env param converted to CustomHeader ?

https://github.com/sipcapture/heplify-server/blob/master/example/homer7_config/heplify-server.toml#L64

[2021-08-19 14:14] lmangani commented on #484
Try the following instead, since its a single value:

[2021-08-19 14:37] solarmon commented on #484
The example was just with a single header just to do a proof of concept. Potentially I would want to search on multiple custom headers.

Anyway, I did as suggested, and reloaded heplify-server with `docker-compose up -d` but I still don't see the header in the **Details** tab.

How can I check on the heplify-server docker image, other than the environment variables, what configuration it is using?

[2021-08-19 14:41] adubovikov commented on #484
so, found. This is multiconfig and it should proceed without any problem

https://github.com/negbie/multiconfig/blob/master/env.go#L55

@solarmon can you run heplify-server without docker just to be sure that it parses everything that you need ?

[2021-08-19 14:41] lmangani commented on #484
uppercase(parameter) = ENV and it should work just fine with a single value or an array.

Your next option is to create a custom .toml config file and mount it on the image instead of using the ENV variables.

[2021-08-19 14:45] solarmon commented on #484
In my last comment, I was looking at an existing SIP INVITE. I made a new call, the I actually do now see the header listed in **Details**:

![image](https://user-images.githubusercontent.com/46369787/130089102-4258a969-33b7-4d53-8b44-5c1fac56640b.png)

(I will have to revert to original format, and check with new calls, but I thought I did look at new calls).

That's definitely a step forward! Bu

[2021-08-19 14:53] solarmon commented on #484
So I did a bit more testing, and I can get it to show more than one custom header in **Details**:

![image](https://user-images.githubusercontent.com/46369787/130090732-516a03a3-b2ea-4e47-8efa-63fbbb653070.png)

I used the following in **docker-compose.yml**:

[code]
So, I didn't have to use the brackets, or quote marks.

[2021-08-19 14:55] solarmon commented on #484
But I still can't figure out how to get it to search on these custom headers.

[2021-08-19 15:02] adubovikov commented on #484
great. Now can you please see which sql query your search generated ?

[2021-08-19 15:08] adubovikov commented on #484
your ID should be data_header.X-Homer-Search

[code]

[2021-08-19 15:21] solarmon commented on #484
OK, I changed it to what you have suggested.

![image](https://user-images.githubusercontent.com/46369787/130094983-095a3f51-7ca4-458a-9f96-7458f938e33e.png)

Initially, it didn't seem to work.

When I looked at the search settings it was like:

![image](https://user-images.githubusercontent.com/46369787/130095136-8cbe2ca3-6a4f-491a-af4c-4a028e7bf52d.png)

I pressed 'Save' and it presented the cor

[2021-08-19 17:14] adubovikov commented on #484
Perfect! Now time for payback! :-) Can you please document it and we will add it to WIKI ? ;-)

[2021-08-19 17:14] #484 closed, assigned to hamidrhashmi

[2021-08-19 22:21] solarmon commented on #484
Hi. I have created my own notes in Evernote. I'm not sure whether it is good enough for you to use in your Wiki, but it is here:

https://www.evernote.com/shard/s13/sh/2441ffbc-a7fa-2d5b-ef39-f2775b8fbb7f/7198abc3c01c44a391184717caa5daea

[2021-08-19 22:23] adubovikov commented on #484
Thank you so much! We will work on it!

[2021-08-27 14:11] hb9eue opened #485 "How to Manual install?"
Dear Team

Debian Stretch is EOL. CentOS is a NoGo for my employer.
Docker is probably not the way to go, as this will be part of a TSP Core infrastructure.
So I'm looking for information how to do a manually install of Homer 7 on preferably Ubuntu 20.04

Could anyone point me the right direction? Any help appriciated.

-Benoît-

[2021-08-27 14:29] lmangani commented on #485
Not sure I understand. Debian 10 is fully supported, as should its derivates - the installer is just as opensource as the code it installs, and can be easily extended in case of issues.

[2021-08-27 14:30] adubovikov commented on #485
you can use any OS - the all components are static :-)

[2021-08-27 14:35] hb9eue commented on #485
Yes, I went down that rabbit hole on ubuntu 20.04, but after I 'fixed' one installer check after the other and more and more cam up, I just gave up.
Maybe I should have a go under Debian 11?

[2021-08-27 14:37] hb9eue commented on #485
Sure, I can clone the repositories, but then? Lots of templates to copy for every part. Lot of try and error and possibilities to go down the wrong trouser leg. So I had hoped for some sort of guideline.

[2021-08-27 14:37] adubovikov commented on #485
But again, what's is the problem install homer-app and heplify-server from packages ?

[2021-08-27 14:39] hb9eue commented on #485
Ok, I suppose I missed something. There are ready made deb packages? Where?

[2021-08-27 14:40] adubovikov commented on #485
https://github.com/sipcapture/homer/wiki/Quick-Install#-manual-install

[2021-08-27 14:42] adubovikov commented on #485
Heplify-server:
[code]
Homer-App
[code]

[2021-08-27 14:43] hb9eue commented on #485
Thank you, somehow I feel stupid now. I always tough this was for the obsolete Homer 5 version which I tried before.

[2021-08-27 21:13] adubovikov commented on #485
sure, you are welcome.

Don't forget start us: https://github.com/sipcapture/homer/stargazers

[2021-08-27 21:13] #485 closed, assigned to nobody

[2021-09-01 08:56] agrigorjevs opened #486 "PromTarget absent in heplify_rtcp_* Prometheus metrics"
Hey guys,

Is there any reason why heplify_rtcp_* prometheus metrics exported do not have PromTargets in them, as all the other metrics like heplify_method_response do?
Those metrics only have node_id, which is helpful, but it would be great to be able to see rtcp metrics per node and per target.
![Screenshot 2021-09-01 at 11 56 24](https://user-images.githubusercontent.com/39706760/131642695-8760

[2021-09-01 09:19] lmangani commented on #486
Please provide the full set of data. We can't comment on tags without seeing the config and src/dst IPs

[2021-09-01 11:27] adubovikov commented on #486
in the current implementation it has only node_id

https://github.com/sipcapture/heplify-server/blob/master/metric/definition.go#L81

https://github.com/sipcapture/heplify-server/blob/master/metric/dissect.go#L99

so, check how it was done for methodReply and implement the same way. Your contributions are welcome!

[2021-09-01 14:34] adubovikov commented on #462
Done. Please install homer-app-1.4.0

[2021-09-01 14:34] adubovikov commented on #443
Done. Please install homer-app-1.4.0

[2021-09-01 14:34] #443 closed, assigned to nobody

[2021-09-01 14:35] adubovikov commented on #412
Please install homer-app-1.4.0 and test again!

[2021-09-01 17:11] mcebey1891 opened #487 "Procesing SRTP-XR messages"
Hello there

I have installed the docker version and two probes with captagent.
In the probes I see RTCP packets arriving with extended reports (RFC 3611) but when I go to the QoS window in the web-app, no related data appears. Also in Grafana, in the QoS XRTP tabs I don't have any data.

This is not related to the recent update because it happened with the previous version.

Do I have to configur

[2021-09-01 17:18] lmangani commented on #487
Hello @mcebey1891
For cases like this, we can't do much without actual packet examples and without the running config of the agent.
As a starter, are you 100% sure the portrange to capture those is correctly configured the agent?
Please provide a PCAP/TXT Dump with some of the packets in question and we'll check them together

[2021-09-01 18:22] mcebey1891 commented on #487
Do you need all the captagent configuration or just some files?

The traces I have are from clients, is there a place that can send the information directly to you?

Thanks

[2021-09-01 22:54] bmgante commented on #462
How was this request addressed? Did you remove “(prod)” from title or is it somehow configurable?

Is there any relevant change/update  to be taken in consideration for webapp config file when migrating from 1.3.2?

Thanks

[2021-09-01 22:56] adubovikov commented on #462
removed

[2021-09-01 22:56] #462 closed, assigned to adubovikov, RFbkak37y3kIY

[2021-09-03 13:40] mcebey1891 commented on #487
Hello, sorry for the use of your time.

While making the example traces, I found that although I have the packages with extended report, they do not have the information I was looking for.

I'm going to close the case.

Thanks for all.

[2021-09-03 13:40] #487 closed, assigned to nobody

[2021-09-03 14:06] lmangani commented on #487
@mcebey1891 what information were you looking for and what were those packets exactly?

[2021-09-03 14:22] mcebey1891 commented on #487
On the Grafana QOS XRTP dashboard I haven't any data

![QoS](https://user-images.githubusercontent.com/54403048/132019986-9e977358-6f6c-46d7-830f-bb973c7e7694.png)

That information is very useful for Me. But if it is not in the RTCP packets, there is not much to do. I leave a trace as an example.

[call_rfc3611.zip](https://github.com/sipcapture/homer/files/7106529/call_rfc3611.zip)

[2021-09-03 14:37] lmangani commented on #487
This is just normal RTCP. HEPlify or any other basic agent should be able to produce reports for it just fine.

[2021-09-11 12:58] pengweichu opened #488 "Search filter"
The button "OR" "AND" seems not affected,  it's always AND here even set it to OR/AND, what's do I missed?

![image](https://user-images.githubusercontent.com/12697283/132948849-9cb09717-a105-4660-bc2a-7f403b837cc2.png)

[2021-09-11 13:01] pengweichu commented on #488
Sorry for my stuip questoin.

[2021-09-11 13:18] adubovikov commented on #488
confirmed

[2021-09-11 17:20] adubovikov commented on #488
fixed here https://github.com/sipcapture/homer-app/commit/e80016705dac51cab142b0ffa3b4a25a3863af13

the package 1.4.11 is compiling

[2021-09-11 17:20] #488 closed, assigned to adubovikov

[2021-09-12 07:59] pengweichu commented on #488
Seems not works for me.
I installed HOMER by `homer_installer.sh` yesterday, and today I pulled the homer-app repo then compile it, use new homer-app to replace the /usr/local/bin/homer-app, then start the service again succeeded, but I observed the below behaviors:

1. The AND and OR all are not affected to the old SIP messages, even I entered the CALLID to filter, all SIP messages are listed.
2.

[2021-09-12 08:27] pengweichu commented on #488
Thanks for your fix, below is the feedback.
Yesterday I installed the HOMER by Bash installer, today I pull the homer-app, compile and replaced /usr/local/bin/homer-app,
I observed the below behaviors:

1. The new SIP messages send from my server to HOMER can't be quired, even don't set any filter just choose the time range to last 3 hours. But no problem to query the previous SIP messages which w

[2021-09-12 09:04] pengweichu opened #489 ""OR" logic with Homer App still not work..."
Thanks for "fixed here sipcapture/homer-app@e800167" : https://github.com/sipcapture/homer/issues/488

The below is the feedback.

Yesterday I installed the HOMER by Bash installer, today I pull the homer-app repo, compile and replaced `/usr/local/bin/homer-app`, I observed the below behaviors:

1. The new SIP messages send from my server to HOMER can't be quired, even don't set any filter just ch

[2021-09-12 11:27] adubovikov commented on #489
I couldn't reproduce any of your issue:

https://drive.google.com/file/d/11h5JOoaGxpqvaokjsMNlfVEDzGcrfE8u/view?usp=drivesdk

[2021-09-12 11:30] adubovikov commented on #488
not needed open the same issue twice. As I already replied, we couldn't reproduce your issues and it related to your system

https://drive.google.com/file/d/11h5JOoaGxpqvaokjsMNlfVEDzGcrfE8u/view?usp=drivesdk

[2021-09-12 11:30] pengweichu commented on #489
Thanks, I'm working on reinstalling a new HOMER again on a new VM server by the BASH Installer, does it included the OR logic fix?

[2021-09-12 11:31] adubovikov commented on #489
https://github.com/sipcapture/homer/issues/488#issuecomment-917441912

as I replied already, yes

[2021-09-12 11:31] #489 closed, assigned to nobody

[2021-09-12 12:49] #454 closed, assigned to AlexeyOplachko

[2021-09-13 09:58] adubovikov commented on #468
@ciscomonkey sorry for delay, but we found the issue

https://github.com/sipcapture/homer-app/commit/23e959eb48ad8ad320eb35863abde920d71b51e1

please set the correct group_attributes in your webapp_conifg.json and it should work!

[code]

[2021-09-13 17:55] lmangani commented on #476
marking as resolved / inactive, feel free to update if still needed.

[2021-09-13 17:55] #476 closed, assigned to nobody

[2021-09-14 13:10] ChicagoJay commented on #476
I never got any advice on how to sort this out.  I am using the non-docker version.

[2021-09-14 13:22] adubovikov commented on #476
this is local docker problem, we can suggest update it to the actual and retest it

[2021-09-14 15:23] adubovikov commented on #468
@ciscomonkey any feedback ? I will close the ticket - please reopen if it won't work

[2021-09-14 15:23] #468 closed, assigned to adubovikov

[2021-09-20 10:35] solarmon opened #495 "Homer web GUI - Regex Results Filter - not working with regular expressions"
Hi,

As requested in the Gitter chat, this is a ticket to track the issue with the "Regex Results Filter" not working with regular expression, and only seems to behave as a string match.

Thank you.

[2021-09-20 10:49] AlexeyOplachko commented on #495
This feature will be pushed to develop branch later today, thanks for bringing our attention to this 😉

[2021-09-20 14:26] AlexeyOplachko commented on #495
Fix is live on develop branch

[2021-09-20 14:26] #495 closed, assigned to AlexeyOplachko

[2021-09-20 14:53] adubovikov commented on #486
since it has been implemented, I am closing the ticket.

[2021-09-20 14:53] #486 closed, assigned to nobody

[2021-09-22 21:52] adubovikov commented on #495
homer-app-1.4.13

[2021-09-25 10:54] adubovikov commented on #450
It has been implemented. Please test the latest homer-app 1.4.13 package and UI 7.10.3

[2021-09-25 10:54] #450 closed, assigned to adubovikov, RFbkak37y3kIY

[2021-09-29 09:36] adubovikov commented on #473
@Gomam0n can you give us a bit more details. How did you send this data to homer ? Using JS collector ?

[2021-10-14 05:38] ciscomonkey commented on #468
Sorry, I missed the notifications.  Unfortunately no change for me here.

[code]

[2021-10-14 08:37] nakchak commented on #468
@ciscomonkey Have you tried setting your group filter to use LDAP_MATCHING_RULE_IN_CHAIN oid?

https://docs.microsoft.com/en-gb/windows/win32/adsi/search-filter-syntax

As soon as i set my group filter to use that it solved all of my group based login issues...
Here is suitably scrubbed of credentials copy of my working LDAP config

[code]

[2021-10-15 04:33] ciscomonkey commented on #468
@nakchak That was the missing part!

I had to add the fix from @adubovikov above in addition to using OID and that was the magic combo for me.

[2021-10-15 08:11] nakchak commented on #468
@ciscomonkey Happy to help, glad that fixed it

[2021-10-19 13:02] girevikman opened #496 "Install script fails on vanilla Debian 8 Jessie"
Hi,

Can't install required packages using the [installation script for Debian](https://github.com/sipcapture/homer/wiki/Quick-Install#debian).

Similar to issue #408 that was closed without resolution because Ubuntu was assumed.

[code]

[code]

Cheers.

[2021-10-19 15:00] lmangani commented on #496
@zeusca

The installer supports Debian 8 from a technical standpoint, but we no longer build packages for Debian 8 as part of our CI since it has little to no usage. Debian 9 is the minimum version our repos support, Debian 10 is suggested, so we should remove 8.

This said, everything should work fine as those packages should offer just statically compiled binaries and config files - you can eith

[2021-10-19 16:14] girevikman commented on #496
It wasn't obvious from reading the documentation so I had to ask.

Very well, I'll compile locally.

[2021-10-19 16:14] #496 closed, assigned to hamidrhashmi

[2021-10-20 20:32] #390 closed, assigned to adubovikov

[2021-10-21 09:52] gedia opened #499 "Pressing ESC should close windows one-by-one"
In homer5, pressing ESC while viewing (having "in-focus") a floating window would only close that window. In homer7, all windows are closed. I do think the homer5 behaviour is more practical. Scenario:

- Perform a search
- Open a callid and navigate to the "flow" tab
- Click on an "INVITE" message from the flow, new floating window appears
- Click on a "200 OK" message from the flow, another floa

[2021-10-22 18:29] antonio-couto opened #500 "Cannot install on Debian11"
I cannot install on Debian 11,

Unable to locate package heplify-server
Unable to locate package heplify

homer-app is ok

Any advice please ?

thanks in advance.

[2021-10-23 19:15] kYroL01 commented on #500
Thanks for sharing this! We will have a look asap

[2021-10-23 23:44] adubovikov commented on #500
The package is static, therefore you can install this package wget --content-disposition https://packagecloud.io/qxip/sipcapture/packages/ubuntu/bionic/homer-app_1.4.18_amd64.deb/download.deb

[2021-10-23 23:45] adubovikov commented on #500
and heplify-server

wget --content-disposition https://packagecloud.io/qxip/sipcapture/packages/debian/stretch/heplify-server_1.56.0_amd64.deb/download.deb

[2021-10-25 11:41] antonio-couto commented on #500
Thanks a lot, I will try to install.

[2021-10-25 11:41] #500 closed, assigned to nobody

[2021-10-25 14:13] vandenp opened #501 "IPV6 call legs don't show up when we export a PCAP from Homer"
If a call involves IPV6 those call legs don't show up when we export a PCAP from Homer.  They are visible in the "export TEXT" file and also are shown in the PNG file.

[2021-10-25 15:11] adubovikov commented on #501
can you please tell the version of homer-app?

[2021-10-25 15:19] vandenp commented on #501
The version of homer-app is 7.9.13

We use the latest docker images
echo "  >> Install Homer7 .."
git clone https://github.com/sipcapture/homer7-docker
echo " >> Pull container images .."
/usr/local/bin/docker-compose -f homer7-docker/heplify-server/hom7-prom-all/docker-compose.yml pull

[2021-10-26 16:57] adubovikov commented on #501
@vandenp sorry, can you make a PG dump of your trace and provide us private ? We have checked our IPv6 stream and these are ok.

[2021-10-26 20:58] vandenp commented on #501
@adubovikov
I just need to find out if I'm allowed. Will get it for you tomorrow if I get the thumbs up.

[2021-10-28 16:13] vandenp commented on #501
@adubovikov
Unfortunately I'm not permitted to share the PG dump.
Is there any hints you can give on how we could debug this issue on our end?
Are there Homer app logs that we could share?

[2021-11-03 21:09] adubovikov commented on #501
@vandenp ok, please enable full debug in system_settings and send the log to us

[2021-11-04 16:35] vandenp commented on #501
@adubovikov
Attaching the Homer log.
At 10:46am I pressed the "Export PCAP" and a 10:51am
Seeing lots of these:
 {"level":"error","msg":"write error to the pcap buffer Invalid source IPv4 address (address is IPv6)","time":"2021-11-04T14:52:27Z"}
[homer-app.log.2021_11_04_00_00.txt](https://github.com/sipcapture/homer/files/7476545/homer-app.log.2021_11_04_00_00.txt)

[2021-11-04 23:57] adubovikov commented on #501
@vandenp can you please confirm that both IP addresses are IPv6 ? and you don't have mix IPv4 and IPv6

[2021-11-05 00:00] vandenp commented on #501
@adubovikov
One of the users was IPv4 and the other was IPv6.

[2021-11-05 00:25] adubovikov commented on #501
I think this is impossible, you couldn't generate IP header that has one ipv4 and another ipv6. Maximum you can make encapsulation that includes one IPv4 IP Layer and IPv6, but again, you should have 4 addresses to generate it.

[2021-11-05 11:15] vandenp commented on #501
There are four unique call legs involved in this call. The calls are connected together.
The 3 legs have ipv4 IP headers. One has ipv6 IP headers.

[2021-11-05 11:16] adubovikov commented on #501
in this case it should works without any problem. Can you download and install the latest package and test one more time ?

I have also added some more debug info

[2021-11-05 13:33] vandenp commented on #501
We installed the latest package and we now see the iPV6 call legs.
Thanks very much @adubovikov.

[2021-11-06 13:54] adubovikov commented on #501
superb! :-) Enjoy!

[2021-11-06 13:54] #501 closed, assigned to nobody

[2021-11-06 13:55] adubovikov commented on #499
@gedia so, the feature has been implemented - I will close the ticket!

[2021-11-06 13:55] #499 closed, assigned to RFbkak37y3kIY, AlexeyOplachko

[2021-11-06 13:56] adubovikov commented on #412
@Demolish50 i will close the ticket. Please reopen if it will be needed

[2021-11-06 13:56] #412 closed, assigned to RFbkak37y3kIY, AlexeyOplachko

[2021-11-10 12:01] CorrieM commented on #419
Hi Adubovikov
I am trying to get Homer 7 data to MSSQL but I see MSSQL Driver is not supported.
So my next step was to make use of MariaDB instead of Postgres and then link MariaDB(MySQL) to MSSQL, can you tell me if this will work ?

[2021-11-10 12:54] lmangani commented on #419
@CorrieM you can't use HOMER7 with MySQL, only Postgres is currently supported by all elements. You can of course dump data into other databases, but do not expect the UI to work with them if you take that route.

[2021-11-10 13:53] CorrieM commented on #419
Next Question how should my heplify-server file look like? if I want to truncate the tables to just keep 30days of data ?
I currently have no disk space left , and I see in the pgsql/12/data/base/16385/ there is every hour a 820mb file :(

This is my current settings

DBDataTable           = "homer_data"
DBConfTable           = "homer_config"
DBBulk                = 100
DBTimer               = 4
D

[2021-11-10 14:08] lmangani commented on #419
This issue is closed, please do not pollute it with other topics. Feel free to open a new one with this problem, and before doing so make sure you are using the latest version of our packages and consult the default examples.

[2021-11-15 09:19] yeya commented on #500
Same issue with Ubuntu 20.04.1 LTS.
I don't think it's right to close the issue.

[2021-11-15 09:21] adubovikov commented on #500
@yeya same as above - the all app are static binary - you can install debian package on any Ubuntu or Mint systems.
on the next round we will upload it to Ubuntu LTS as well

[2021-11-15 09:29] adubovikov commented on #500
@yeya ok. We have uploaded for Bullseye,Focal and Bionic

enjoy!

[2021-11-26 06:53] khorsmann opened #506 "homer-7, 7.10.13 - Failed to load API definition on "preference/api%2520documentation""
Hi folks,

i want to report that the homer-webapp 7.10.13 didnt have the swagger-json. After reading a bit around here, its an additonal step needed to generate them. This step seems missing to the docker-images.

[code]

Failed to load API definition.
[code]

Best - Karsten

[2021-11-26 06:57] adubovikov commented on #506
Hi @khorsmann ,

thanks for report. @AlexeyOplachko can you please check it ?

the file is located in the homer-app https://github.com/sipcapture/homer-app/blob/master/swagger.json

[2021-11-26 07:44] khorsmann opened #507 "homer 7, 7.10.13 - Understanding question - how to add additional headers and correlation id headers"
Hi Folks,

i play around with docker version of homer-7 (7.10.13).

IMHO the collection of data and the views for and Homer admin is as follow:
[code]

So if i need additional stuff like extra headers i configure docker-compose.yml (see below).

Maybe i missconfigure something (i am 100% sure thats the case).
I didnt dig to deep into the db if the data is "there" as extra columns or whatever (that

[2021-12-03 14:24] VladimirMokhov opened #508 "Problem with Displayed timezone select"
Hi, I have a problem with "Displayed timezone select". It does not work: I wanna change the timezone but everytime I have the same result (after changing and pushing the "apply" button). My timezone remains unchanged...

I installed the latest version from https://github.com/sipcapture/homer/wiki/Quick-Install#-quick-install
![new](https://user-images.githubusercontent.com/88138056/144615764-a3bb9

[2021-12-03 14:58] adubovikov commented on #508
@VladimirMokhov how did you install it ?

if you use the package:

rpm -qa | grep homer

or
dpkg -l | grep homer

and also you can see in the title - UI version

[2021-12-03 17:56] adubovikov commented on #508
@VladimirMokhov it has been fixed https://github.com/sipcapture/homer-ui/commit/c29cd3337af27ccefdc332dd8fb425940dad3d36

and we have created a new package: 1.4.27

please update!

Regards,
Alexandr

[2021-12-03 17:57] adubovikov commented on #508
@VladimirMokhov don't forget to star us: https://github.com/sipcapture/homer/stargazers :-)

[2021-12-03 18:10] AlexeyOplachko commented on #506
Should be fixed with this: https://github.com/sipcapture/homer-app/commit/967cee567fcd4c9eda9f3c06b997a1c3ae548892

[2021-12-03 18:10] #506 closed, assigned to AlexeyOplachko

[2021-12-04 11:15] #508 closed, assigned to RFbkak37y3kIY, AlexeyOplachko

[2021-12-08 09:01] VladimirMokhov commented on #508
Thank you!

[2021-12-08 09:04] lmangani commented on #508
@VladimirMokhov please confirm if this resolves your issue

[2021-12-08 09:48] VladimirMokhov commented on #508
Issue resolved.

[2021-12-08 22:48] vincenthorst opened #509 "Grafana dashboard based on client ip's"
Hi Team,

I'm looking for the way to make a dashboard in Grafana per customer.
I think the best approach is to define it per customer IP/IP's

I'm able to get the current query's out of Grafana, I'm looking for the docs, or the way to define it per IP.

Can you describe a bit how to define this?
Kind regards,
Vincent
Query out of Grafana.

Object
request:Object
url:"api/datasources/proxy/9/api/v1/

[2021-12-09 01:13] mcebey1891 commented on #509
Hi.
I tried to do that myself. The way I found is by using the fields "HEPLIFYSERVER_PROMTARGETIP" and "HEPLIFYSERVER_PROMTARGETNAME" in the HeplifyServer configuration.

By putting the IPs and the names of the clients in the same order, they can automatically be used to discriminate the SIP traffic of each client, but not the RTP statistics.

I hope that helps.

[2021-12-09 08:46] vincenthorst commented on #509
Hi mcebey,
thanks for your reply, can you show/describe a little bit more of where which file I need to change.

cheers, vincent

[2021-12-09 08:47] lmangani commented on #509
This is an open-source project - just export and share the dashboards :)

[2021-12-09 08:50] vincenthorst commented on #509
always good to learn a bit myself.
still searching for the best approach if it is doable only in Grafana or if indeed config files needs to be changed.

[2021-12-09 12:40] mcebey1891 commented on #509
Hello,

First where you configure the HeplifyServer (in my case I use the docker version so it is in the docker-compse.yml) put in order the IP and the names of the clients so that the server creates the labels within the database.

Then in the dashboards you can use the target_name tag to access the customer tag to filter on the charts.

For example
In the configuration we use two SBC, (the IP ar

[2021-12-09 12:44] mcebey1891 commented on #509
Sorry I forgot the dashboard model

[SIP Methods & Responses SBCs-1639053708256.zip](https://github.com/sipcapture/homer/files/7685134/SIP.Methods.Responses.SBCs-1639053708256.zip)

[2021-12-09 13:43] lmangani commented on #386
![image](https://user-images.githubusercontent.com/1423657/145407324-dc05160e-74a2-42b9-a79e-fe2b949074ef.png)

[2021-12-09 14:15] vincenthorst commented on #509
Thanks mcebey,
I'm going work on this tonight.

[2021-12-13 10:23] xaled1 opened #510 "HEP protocol extension for message direction"
It would be very helpful to have a header field in HEP that would tell a message direction for example:
MESSAGE_DIRECTION:
0x0 unknown
0x1 rx
0x2 tx
0x3 undefined (e.g. traced by switch without mapping to port/interface)

[2021-12-13 10:26] xaled1 opened #511 "Use of Server Header to identify UAS"
When observing a call in "Session Info" Tab a UAS will only be identified if it has provided a "User-Agent" Header. It is often not the case. It would be helpful to have the "Server:" header used as well as a fallback for UAS identification if no User-Agent header is available.

[2021-12-13 10:27] xaled1 opened #512 "Make deduplicate function available also for packets from the same Capture-node-Id"
It would be helpful to have deduplicate function available also for packets that come from the same Capture-node-Id.

[2021-12-13 10:29] xaled1 opened #513 "Make dedpulicate configuration also available via container environment variable"
It would be helpful to have dedpulicate configuration also available via container environment variable.

[2021-12-13 10:30] xaled1 opened #514 "Make alias names for IP addresses also availabe in "QoS" tab"
It would be helpful to be able to use alias names for IP addresses also in "QoS" tab for the the call observation.

[2021-12-13 10:44] adubovikov commented on #511
@jacovinus can you please add it to Homer-UI ? if UAS is empty = force to .Server

[2021-12-13 16:01] AnonymousMonkey75 commented on #412
The issue still persists.

The only thing I can think of is maybe Homer doesn't like source_ssrc being 0? That is the only difference I can really find. The issue persists as before. Chrome network debug shows the traffic, its just not graphed in homer in the qos tab.

[2021-12-15 15:41] khorsmann commented on #507
The mapping was wrong. If i check the examples in that file with the mappings and bring the correct key-value pairs in, it works.

[2021-12-15 15:41] #507 closed, assigned to nobody

[2021-12-15 15:44] lmangani commented on #507
@khorsmann was it wrong in the defaults? should we correct anything?

[2022-01-11 20:41] garryavx opened #515 "additional Grafana settings for dashboard widgets to work"
I was following this:
https://github.com/sipcapture/homer/wiki/homer-seven-setup/#grafana
just the grafana section really to add on grafana to my Homer install.
I found that the following things were needed in addition to what's listed in the guide. note that not all of these may be strictly necessary, I would find something that looked like it needed to be filled out, try it and then try somethin

[2022-01-12 14:52] khorsmann commented on #507
Hi @lmangani

everything is fine. I just was to long in the HEPIC world to see the fine difference in name schemata of homer7.
So the id: field needs "data_header.<your-header>" not "customer_<number>" (hepic).

So that is the right json snippet in my case:

[code]

[2022-01-13 22:00] garryavx opened #516 "Feature request: translate RTP jitter units from FreeSwitch to MS."
So, as I understand it the RTP units are displayed in homer as freeswitch gives them: 1/sampling rate. meaning that if I get a value of 190 from FS, and I'm using 722/16000, my jitter is 190/16000hz = ~12ms.

would be cool if homer would do that math for me.

I get my RTCP data from Hepipe.js (I cannot use the capture agent as I use TLS for everything in and out).
I took a look at the data it's ge

[2022-01-13 22:20] garryavx commented on #516
ah, it does occur to me that an alternative solution is to find a way to have the capture agent decrypt the tls traffic with the cert

[2022-01-13 22:22] lmangani commented on #516
@garryavx that's impossible with properly configured TLS - the code supports this for RSA and is a dead end, as it should

[2022-01-13 22:23] lmangani commented on #516
@garryavx i would suggest patching up hepipe to produce new fields with the calculations - or replacing the values with the ones you're proposing. Once that works reliably, we can consider ways to introduce it into the codebase as a generic.

[2022-01-13 22:25] garryavx commented on #516
hey I might actually be able to do that. homer is intimidating but the hepipe.js stuff looks more approachable. I'll see what I can do

[2022-01-17 15:09] CorrieM opened #517 "Homer 7 Job Truncate Data after a Month"
Hi
is there a setting / job that I can run that can truncate data after a month or to keep only 30days of data ?

[2022-01-17 22:02] adubovikov commented on #517
https://github.com/sipcapture/heplify-server/blob/master/example/homer7_config/heplify-server.toml#L32-L35

[2022-01-17 22:02] #517 closed, assigned to nobody

[2022-01-18 17:54] sudomoke opened #518 "sip flow ui - inability to scroll down after scrolling right"
When viewing the sip flow of wide captures, i am not able to scroll down when scrolled right. It'll glitch and prevent vertical scrolling until you scroll horizontally left to the original position.

I've found this to occur in Google Chrome, Edge, and Firefox on Windows 10.

[2022-01-18 18:04] lmangani commented on #518
@Moke could you please attach an example image, gif, anything to help understand this visually

[2022-01-18 18:17] sudomoke commented on #518
Here's a gif: https://imgur.com/a/BQERTbb

[2022-01-18 21:37] adubovikov commented on #518
@Moke we have asked our dev team to check it

[2022-01-19 14:31] RFbkak37y3kIY commented on #518
fixed and merged to 'develop' branch

[2022-01-24 09:23] ljw- commented on #489
@adubovikov I think your video shows you COULD reproduce the "issue", no?

In the video you

1) use an AND-filter
2) sets time range to 5 minutes
3) sets method to INVITE
4) sets from user

All that works as intended (AND-filter applied).

Then you change to OR-filter and searches again.

This time you get an OR of ALL parameters, that is From OR Method OR time-period.

If this is an issue or not

[2022-01-24 09:40] adubovikov commented on #489
no it's not
here is the query:

[code]

[2022-01-24 11:00] adubovikov commented on #518
the issue has been fixed. Please reopen if need it

[2022-01-24 11:00] #518 closed, assigned to RFbkak37y3kIY

[2022-01-24 21:41] ghenry opened #519 "SentryPeer data integration"
Hi all,

I've started this in Oct 2021 in my evenings:

https://github.com/SentryPeer/SentryPeer

I've just released v1.0.0 as I'm happy now that you can do (p2p replication of data next):

- Process and chose to reply 200 OK to SIP probes (set via cli or env variable)
- List collected IP addresses via the RESTful API
- Query a specific IP address via the RESTful API
- List collected phone numbers

[2022-01-25 03:03] sudomoke opened #520 "Add support for automatic redirect to sso idp provider"
When visiting the homer application, it would be ideal if end-users were automatically redirected (skipping the homer7 login screen) to initiate the oauth2 authentication. I would like to request that a configuration file item be added to support configuring this behavior when enabling sso.

[2022-01-25 03:06] sudomoke commented on #518
I am still able to reproduce this issue as of homer-app --version VERSION: 1.4.29

[2022-01-25 11:13] adubovikov commented on #518
sorry, now it should be ok

homer-app-1.4.30-amd64

can you please recheck ?

[2022-01-25 11:28] #519 closed, assigned to nobody

[2022-01-25 11:29] adubovikov commented on #519
please follow our swagger

[2022-01-25 12:25] ghenry commented on #519
Thanks. I was asked to open a ticket here https://groups.google.com/g/homer-discuss/c/a2sukcLKUwM by @lmangani

Apologies if I misread or misunderstood.

Gavin.

[2022-01-25 12:27] lmangani commented on #519
HI @ghenry indeed but we meant related to an integration effort with HOMER on either side - nothing seems to be mentioning how in the post, so whenever you are at that stage, please do let us know!

[2022-01-25 12:29] ghenry commented on #519
Ah, cool. No problem. I'll look at various things then that you've both mentioned.

[2022-01-25 12:32] lmangani commented on #519
I think a HEPSub client should be the first step in integration, allowing HOMER people to query the SentryPeer API interactively
We already have a caching HEPSub API client for [APIBAN](https://github.com/sipcapture/hepsub-apiban) you could potentially and adapt just to get started

[2022-01-25 12:36] ghenry commented on #519
Thanks. Will check it out.

[2022-01-25 17:27] sudomoke commented on #518
So far so good. I'll update if I am able to reproduce.

[2022-01-31 14:41] ljw- commented on #489
Yes, you're clearly right. I'm probably just getting confused by the limit. But from an SQL standpoint that's clearly correct.

Would you consider adding an "order by" on time, to get the latest and not the oldest results in the query limit? If so and you want that in another ticket, let me know and I'll create one.

[2022-01-31 15:09] adubovikov commented on #489
no,  we won't want add "order by" in the query, because it will get ALL records (ignoring limit) sort it and only after apply the limit on the result. The query will be slow.

[2022-01-31 16:11] ljw- commented on #489
https://www.postgresql.org/docs/12/queries-limit.html

"When using LIMIT, it is important to use an ORDER BY clause that constrains the result rows into a unique order".

If you dont, what you get is "the order the rows are in the database". That's often, but not always the order they where inserted. (Eg if you add 10 rows, delete the first 4, then there's free space in the beginning of the databa

[2022-01-31 16:18] adubovikov commented on #489
the secondary index on create_date has nothing to do with order by and limit, specially here we already have timeseries partitions. And I have described already why we won't use it.

[2022-02-02 08:55] lmangani opened #523 "Disable showing RTCP as the default setting"
### Discussed in https://github.com/sipcapture/homer/discussions/522

<div type='discussions-op-text'>

<sup>Originally posted by **Gasmanz** February  1, 2022</sup>
Does anyone know if it's possible to disable showing the RTCP messages in the SIP Flow by default. Having to do this everytime I look at a SIP Flow is very annoying after the 100th time. For me the RTCP details are rarely used in call

[2022-02-02 10:52] lmangani commented on #523
@AlexeyOplachko could you take a look and confirm the persistence state of the protocol selectors?

[2022-02-02 12:37] AlexeyOplachko commented on #523
Checked on our setup, settings of protocol selection does persist, and also default value for RTCP is off.
@Gasmanz can you go to Preferences, Reset, and click on Clear User Local Data and try replicating your issue again? Maybe your localstorage got corrupted somehow and isn't being overwritten.

[2022-02-09 20:16] ruben-herold opened #526 "Please publish packages for centos stream 8 and stream 9"
hi,

it would be nice if you could publish packages for centos stream 8 and centos stream 9.
Centos8 is dead so you can remove it.

[2022-02-09 20:42] lmangani commented on #526
@ruben-herold we have no plans for stream, but we're welcoming any PR to support terrible operating systems :)

[2022-02-09 21:27] ruben-herold commented on #526
Where can I find the repo with the spec files an build configurations?

[2022-02-09 21:30] adubovikov commented on #526
sorry, just short update - we push the package to el/8 , so you can take that repository

[2022-02-22 11:05] MaartenUreel opened #527 "Quick install script failing on Debian 10: package homer-app not found"
Hello

the quick install script fails on Debian 10 in the nstallation of Homer-app. Are the packages missing perhaps?

[code]

[2022-02-22 11:09] MaartenUreel commented on #527
Ah, I just realized I'm on arm64 and there are no packages for that.

[2022-02-22 11:09] #527 closed, assigned to nobody

[2022-02-22 11:10] adubovikov commented on #527
you can compile own direct from the repository :-) There are we have build scripts

[2022-02-22 13:58] agrigorjevs opened #528 "Strange username format validation in user settings"
Hello,

We have users created and also LDAP usernames with such format - firstname.lastname. Creation of such usernames is allowed.

But when you try to add a new user setting - it does not allow dot in the usernames.

<img width="799" alt="Screenshot 2022-02-22 at 15 30 04" src="https://user-images.githubusercontent.com/39706760/155145908-667f40be-87ee-4f51-91ac-38590a24f0db.png">

Also, another

[2022-02-22 14:13] agrigorjevs commented on #528
Sorry, this was supposed to go to homer-app project - https://github.com/sipcapture/homer-app/issues/470

[2022-02-22 14:13] #528 closed, assigned to nobody

[2022-03-01 12:22] #526 closed, assigned to nobody

[2022-03-01 12:23] #523 closed, assigned to RFbkak37y3kIY, AlexeyOplachko

[2022-03-04 03:31] Josh-vxt opened #529 "Cannot find CFLOW_HPORT setting for homer 7"
Hi I've been searching all over this repo and I cannot seem to find the CFLOW_HPORT setting for Homer 7, is this something that is specific to [Homer 5](https://github.com/sipcapture/homer-api/blob/10903b08d99a6e02672b4a8c2d0cfe87b800a887/api/preferences_example.php#L8)?

Furthermore is there a similar setting like what is described in this thread of removing duplicate packets.
https://groups.goog

[2022-03-10 17:18] solarmon opened #530 ""v=0" displayed as "76 3D 30""
Tested on Homer 7.10.18

When clicking the INVITE method on the **results** display, it shows the "**v=0**" line on the SDP packet as "**76 3D 30**". But clicking on the **INVITE** when in the **Flow** view, it correctly shows it as "**v=0**".

This display issue also seem to occur for **200 OK** with SDP, but not for **180** or **183** with SDP.

[2022-03-10 17:22] lmangani commented on #530
@solarmon I cannot replicate this. Could you provide an example?
For context, could you also specify what is the HEP agent sending those messages?

[2022-03-10 17:36] solarmon commented on #530
@lmangani

We are using opensips 2.4.x with the proto_hep module.

Please see an example of the issue:

![image](https://user-images.githubusercontent.com/46369787/157721966-3dff7ed4-79bc-4f08-97fa-aa9ca5de0890.png)

I hope that helps.

[2022-03-10 17:39] adubovikov commented on #530
ha, can you please check what do you have in the DB ? I guess this is how the data has been delivered and stored into this field because 76 3D 30 "v=0" in HEX

[2022-03-10 17:45] solarmon commented on #530
If you mean to check the raw data in the SIP tab of the message, yes, it does appear as "76 3D 30".

However, when I view the same INVITE when in the Flow view display, I see it as "v=0", and the raw data shows it as "v=0" too.

[2022-03-10 17:47] adubovikov commented on #530
@solarmon I mean to check the data in pgsql :-)

`select * from hep_proto_1_call where callid='blabla'`

[2022-03-10 17:56] solarmon commented on #530
Sorry, I don't know how to check for that yet. This setup is part of the https://github.com/sipcapture/homer7-docker build and has its own db docker image.

I'm able to exec in to the docker image bash console, but I can't find the pqsql command.

[2022-03-10 17:58] lmangani commented on #530
@solarmon postgres is in a separate container

[2022-03-10 22:06] solarmon commented on #530
@lmangani

Yes, it is in the `db` docker container. I figured out that I needed to use the `psql` command. Also, there is no such `callid` column in the `from hep_proto_1_call` table, but it is the `sid` column that has the session ID of the call.

The 'raw' data column has:

`v=0\r`

in the SDP content, not the hex code.

[2022-03-10 22:17] adubovikov commented on #530
can you paste all sdp body ?

[2022-03-10 22:41] solarmon commented on #530
@adubovikov

I've sanitised the SDP content in the raw field with `<REMOVED>`:

[code]

[2022-03-10 22:44] solarmon commented on #530
I can confirm that this raw SDP from the INVITE that is for the packet with ID `9199847`, as per the screenshot above.

[2022-03-11 14:09] CorrieM opened #531 "Homer 7 Session Info Screen just spinning"
![image](https://user-images.githubusercontent.com/6371741/157883510-8165ec40-dc04-4bdd-a39b-70c3fe807883.png)
Please assist as the screen is just spinning and no info get displayed, no errors in the sever logs

[2022-03-11 14:20] lmangani commented on #531
Sorry, we cannot assist much without knowing the details of your setup.
Please share more details and I would suggest checking the browser console for errors as a starting point.

[2022-03-15 09:04] lmangani commented on #530
Could you export the full SIP message? We cannot reproduce this issue so far.

[2022-03-15 09:08] lmangani commented on #530
@solarmon could you confirm if this happens for ALL of your users, or just for your sessions?

[2022-03-15 09:22] AlexeyOplachko commented on #530
Can you please find and paste here message which has this issue in response from backend?
Press F12, follow tutorial on screenshot,
![image](https://user-images.githubusercontent.com/45398541/158345310-7e2c2410-340c-40ea-a03d-1c34ba6cda0e.png)
After you find correct message
![image](https://user-images.githubusercontent.com/45398541/158346301-6e28184a-f5e1-4135-8615-95b14698148f.png)
Don't forget

[2022-03-15 10:46] solarmon commented on #530
Hi,

I'm not sure whether this is the correct information you are looking for - I'm using Chrome, and the DevTools doesn't look like in your example.

"v=0" doesn't appear, since it is "76 3D 30" that appears.

![image](https://user-images.githubusercontent.com/46369787/158360761-55cbf40f-4481-4021-b7a9-a1d33de73956.png)

This is in the "raw" header and appears as

```Max-Forwards: 70\r\n\r\n76 3D

[2022-03-15 10:58] solarmon commented on #530
Oh, and I can confirm this issue occurs for two different logins.

Also, just to be clear - this display issue only occurs when I view the INVITE when I click on it in the results display. This display issue does not occur when viewing the INVITE when I click on it in the flow view display.

[2022-03-15 11:01] adubovikov commented on #530
so, you understand that your SDP is broken - you should have \r\n and not \r - looks like golang string conversion detect \ro  as a HEX symbol and don't convert the line to ASCII and left it as HEX

[2022-03-15 11:03] adubovikov commented on #530
so, normally all you SDP is broken - base on your report.

[2022-03-15 11:52] solarmon commented on #530
@adubovikov

Yes, you are correct - it. looks like "\n" only appears after "v=0". The rest of the SDP packet does have "\r\n". I will get our developers to investigate further.

Why is it displayed correctly when view in the flow view display? The raw text for that indicates that "\r\n" does appear after "v=0":

```Max-Forwards: 70\r\n\r\nv=0\r\no=```

[2022-03-15 12:09] solarmon commented on #530
@adubovikov

I've just done a packet capture using sngrep and viewed it in notepad++ to show all characters/symbols, and it does suggest that both carriage return and line feed characters are present and correct:

![image](https://user-images.githubusercontent.com/46369787/158374343-c8ff28c6-c8d2-4e08-be35-9a2abeccb7d0.png)

With sngrep, I know that it will not display the packet if the packet is

[2022-03-15 12:11] adubovikov commented on #530
ok, let me check on back end

[2022-03-15 13:05] solarmon commented on #530
@adubovikov

Not sure if this makes a difference, but the INVITEs from a particular source has this specific display issue - when the Content-Length and Content-Type headers do not appear right at the end of the list of headers.

As you can see from the example above, we have Max-Forwards as the last header.

[2022-03-16 13:52] adubovikov commented on #530
i am checking right now...

[2022-03-16 15:14] adubovikov commented on #530
@solarmon can you please check if your message has string "/isup" inside ?

[2022-03-16 16:37] solarmon commented on #530
@adubovikov

Yes, the INVITE has the following header:

```Accept:  application/isup```

[2022-03-16 16:48] adubovikov commented on #530
ok, this is the issue - let me fix it

[2022-03-16 17:12] adubovikov commented on #530
@solarmon please take homer-app-1.4.35-amd64 and test it

[2022-03-16 18:19] solarmon commented on #530
@adubovikov

I don't know how to check for the individual docker containers version, but I did a ```docker-compose pull``` and ```docker-compose up -d``` and it updated all the docker containers. (I could have probably just done it on the ```homer-webapp``` container).

The Homer web GUI tab shows that it is version ```7.10.18``` - and I can see the display issue seems to have been resolved! Thank

[2022-03-17 09:44] adubovikov commented on #530
Glad that it works now. it was SIP-I checks and decoding binary data of SDP body

[2022-03-17 09:44] #530 closed, assigned to RFbkak37y3kIY, AlexeyOplachko

[2022-03-17 09:47] adubovikov commented on #531
also, please also update your system to the latest package and check again.

[2022-03-17 09:48] adubovikov commented on #529
@Josh-vxt you have special params on the right corner of your call flow dialog

![Screenshot from 2022-03-17 10-48-11](https://user-images.githubusercontent.com/4513061/158782771-07aa3ab2-f1b2-4b04-abc1-b720f07c8a9e.png)
w

[2022-03-17 09:48] #529 closed, assigned to nobody

[2022-03-17 11:04] adubovikov commented on #520
@AlexeyOplachko can you please check it ?

[2022-03-17 11:24] jacovinus commented on #511
already solved doing if UAS is empty, force to server, please try with last UI version.

[2022-03-18 02:45] Josh-vxt commented on #529
How are those settings able to remove duplicate packets?

https://groups.google.com/g/homer-discuss/c/SwbV4fPfVqA

[2022-03-18 07:34] adubovikov commented on #529
these are two different cases: CFLOW_HPORT - an option how to display packets on the call flow dialog. About the packet deduplication please check this settings: https://github.com/sipcapture/homer-app/blob/master/etc/webapp_config.json#L76-L79

[2022-03-21 17:45] AlexeyOplachko commented on #520
Implemented in dev.
You can bypass redirect if needed if you go through
yourdomain/direct-login

[2022-04-01 15:02] getrahulchauhan opened #533 "Homer UI not showing logs"
Hello,

I have new in homer , and i installed homer 7.10.18, homer-app service and heplify-server services is working fine but i can't see any logs on web.

My server have : -
Asterisk 13.17.2
Homer App UI : - 7.10.18
Homer-app version: - homer-app 1.4.35.
postgresql -12

homer_data=# select * from hep_proto_1_call;
id | sid | create_date | protocol_header | data_header | raw
----+-----+----------

[2022-04-03 19:13] davehorton opened #534 "packages for arm64"
I've been installing the homer webapp and heplify-server from the binary packages, and this has worked fine on amd64 architecture.  I'm bringing up some systems on AWS Graviton processors now, and realized there are no packages published for arm64.  Would this be possible?

[2022-04-13 14:26] solarmon opened #536 "Blank QoS tab and UA Report in Flow tab"
Hi,

Homer 7.10.18
rtrpproxy 2.2.alpha.d5b7b4c4

I have set up rtpproxy to sent RTCP captures to Homer. This is working in that the packets do get to Homer.

However, for some calls (not all calls) I have this situation. In the QoS tab, it is empty/blank:

![image](https://user-images.githubusercontent.com/46369787/163202327-67ac727d-c000-4ebd-a04a-36e5c325e0ed.png)

In the Flow tab, I see a "UA R

[2022-04-13 14:29] lmangani commented on #536
We need a dataset to reproduce this in order to find the potential issue

[2022-04-13 14:41] solarmon commented on #536
@lmangani,

Just tell me what you require, but I cannot expose any sensitive data on a public forum - we we need to agree on how the dataset gets to you.

[2022-04-13 14:44] lmangani commented on #536
I'm afraid we cannot work on this privately but should be able to remove the sensitive data very easily in exchange for free support :) We're solving a technical problem and we need technical details. None of the PII apply here (ips, numbers, etc) just session identifiers and details.

[2022-04-13 14:50] solarmon commented on #536
OK, I will try to sanitise the data - please can you let me know exactly what you need and how/where to get it from.

[2022-04-13 14:56] lmangani commented on #536
If timing in the RTCP reports is the issue, you can try boost your mapping lookup range to catch them:
[code]

[2022-04-13 15:59] solarmon commented on #536
Do you mean time/date stamp on the rtpproxy and homer servers? I've just checked and the clocks are within a second of each other.

Or do you mean the timing difference between the RTCP endpoints themselves?

Anyways, I did change the range to beteen -600 and 400:
[code]

I've made 10 test calls so far and none of them has show the issue that was seen before and I see both QoS stats for both legs

[2022-04-13 16:10] solarmon commented on #536
And just typical...as soon as I posted the last comment and made another test call, the same issue has occurred. Again, on the inbound SIP leg of the call coming from the SIP provider.

[2022-04-13 16:13] lmangani commented on #536
Let us know if you spot the difference between the good and bad scenario

[2022-04-13 18:04] solarmon commented on #536
I'm doing the exact same test call every time. At the moment It just seems intermittent/random as to whether it has this display issue or not.

What would help me troubleshoot further is understanding what this "UA Report" is why/when does it appear in the flow view. It is not a SIP method, and the flow view is showing it with the IP of the media endpoints. So it must be to do with how it analyse

[2022-04-13 18:37] lmangani commented on #536
Check if your BYE or 200 OK contain a User-Agent report (X-RTP-Stats, P-RTP-Stat) or sends RTCP-XR or whatnot

[2022-04-13 21:18] solarmon commented on #536
I don't see anything in the SIP packets.

Doing a capture on the rtpproxy, I see that the first RTCP packet received is a "Receiver Report" (with Source Description), the rest of the RTCP packets are "Sender Report".

The Receiver Report packet matches exactly the timestamp of the "UA Report" that appears in Homer.

![image](https://user-images.githubusercontent.com/46369787/163271985-0f81aefa-7e2

[2022-04-13 21:23] solarmon commented on #536
On Homer, in the Message tab of the call, this UA Report packet seems to appear as:

![image](https://user-images.githubusercontent.com/46369787/163272632-e745e3b1-b08d-4483-85fc-37a07e25933e.png)

Which matches the timestamp of the Sender Report in the rtpproxy capture:

![image](https://user-images.githubusercontent.com/46369787/163272829-00ababf7-7a1b-4a59-beff-4ff8929353d1.png)

[2022-04-13 21:32] solarmon commented on #536
This is the rtpproxy capture, filtered for just RTCP:

![image](https://user-images.githubusercontent.com/46369787/163273933-a266388e-9e7a-4870-9c39-ae00a7eb7deb.png)

[2022-04-13 21:35] lmangani commented on #536
I'm sorry but we can't work with screenshots. It's hard to even guess what the issue might be based on the provided info.

[2022-04-13 21:40] solarmon commented on #536
I found that you can filter by SIP and RTCP in the Message tab:

![image](https://user-images.githubusercontent.com/46369787/163274700-3c9ec11c-07b5-45b9-9c28-45e7ec23384c.png)

So this first packet doesn't seem to be classed as Method or Type of RTCP?

[2022-04-14 07:37] solarmon commented on #536
Looking back at the captures in Homer of the calls (and filtering the call view just to show RTCP payload type) that do and don't have this issue, the common thing is that when there a UA Report (RTCP packet type of Receiver Report), the QoS tab is empty; and when there is no UA Report then the QoS tab is working as expected.

Something about the UA Report (RTCP packet type of Receiver Report) see

[2022-04-14 07:40] lmangani commented on #536
As mentioned, you need to share the actual data for us to debug, there's nothing we can do with the theory - I'm sorry.

[2022-04-14 07:44] solarmon commented on #536
What data do you require?

[2022-04-14 07:47] lmangani commented on #536
Up to your judgement, we need to see everything that's needed in order to replicate the same issue.

[2022-04-14 07:48] solarmon commented on #536
Maybe the RTCP HEP capture packets itself? And just the one for the Receiver Report?

[2022-04-14 08:59] lmangani commented on #536
But how would be then able to correlate them with a session we do not have? those all cross-reference.
If you're not willing to share the full traces to reproduce it (privately or censored) we won't be able to debug this

[2022-04-14 10:54] solarmon commented on #536
@lmangani

Please find attached a sanitised version of the RTCP HEP captures coming from rtpproxy. The first packet is of type 201 (Receiver Report) which seems to cause the display issue in the QoS tab.
(attachment removed)

[2022-04-14 12:36] solarmon commented on #536
@lmangani

Looking at the HEP capture and using the HEP decoder from https://github.com/sipcapture/hep-wireshark/tree/master/lua

The only issue I can see (although, the decoder doesn't say anything about) is that the Encapsulated Payload content for the Receiver Report packet isn't quite JSON format valid - the last item (report_count) ends with a comma character:

![image](https://user-images.gi

[2022-04-14 12:55] solarmon commented on #536
I think I have found the bug in the rttproxy rtcp hep module:

Line 193 doesn't have the comma character:

https://github.com/sippy/rtpproxy/blob/b9d7b4ced2e9797f7d5d3f033af288fbc1aaecd8/modules/acct_rtcp_hep/rtcp2json.c#L193

But line 217 seems to have this comma character:

https://github.com/sippy/rtpproxy/blob/b9d7b4ced2e9797f7d5d3f033af288fbc1aaecd8/modules/acct_rtcp_hep/rtcp2json.c#L217

[2022-04-14 13:27] lmangani commented on #536
@solarmon sounds like a very plausible cause! nice finding!

[2022-04-14 14:21] solarmon commented on #536
@lmangani

I fixed the source code, recompiled rtpproxy and the modules, and that seems to have fixed the issue:

Homer now processed the packet correctly and the QoS tab shows RTCP stats:

![image](https://user-images.githubusercontent.com/46369787/163409828-f136526a-5ce2-41f8-bdcb-bed5c84c857a.png)

You might want to look at making Homer handle such malformed packets more gracefully. Or at least

[2022-04-14 14:21] #536 closed, assigned to nobody

[2022-05-03 13:16] solarmon opened #539 "Feature Request: Grafana QoS RTCP dashboard - heplify_rtcp_jitter and target_name label combination?"
Hi,

I have RTCP HEP packets sent from rtpproxy in to Homer, which feeds in to Grafana.

I would like to customise the QoS RTCP dashboards so that I can get those stats on an individual or group of target hosts (as defined  by PROMTARGETIP and PROMTARGETNAME for Homer)

In other dashboards that have queries that use the `heplify_method_response ` label, I am able to use a `target_name ` label comb

[2022-05-19 16:01] perrfect opened #540 "Homer and database postgresql on different hosts"
Hello.
Guys, please, help me understand how correctly use Homer and Postgresql on different hosts.
I want to choose docker setup installation, but with postgresql on another remote host.

For that I had created two databases (**homer_data** and **homer_config**) on my postgresql server and gave access to these databases for my users.
I've stopped on a **Create Tables, Populate defaults, Upgrade**

[2022-06-03 07:50] uppuluriaditya opened #541 "Correlating two incoming legs in Freeswitch"
Hi,
Is there a way to correlate two incoming legs to freeswitch via ESL? We have a setup where, Freeswitch receives INVITE from two users. I want to correlate both the legs before bridging. May i know how to do that?

Thanks in advance

[2022-06-03 07:52] adubovikov commented on #541
You can insert the X-Cid to the second leg and after correlate it in UI using correlation script. The example is in our wiki

[2022-06-03 07:54] lmangani commented on #541
And here's the link: https://github.com/sipcapture/homer/wiki/Examples%3A-FreeSwitch#b2bua-correlation
Just emulate the same logic with your ESL commands and it should work fine.

[2022-06-03 07:54] #541 closed, assigned to nobody

[2022-06-03 08:00] uppuluriaditya commented on #541
Thank you for the example. But in my setup, i have two incoming calls. So setting it like above example, will set two different correlation IDs to two incoming calls (As Call-IDs are different for both the legs). isn't it?

[2022-06-03 08:33] lmangani commented on #541
@uppuluriaditya that's totally up to you, we have nothing to do with your call logic - each call should point at the other.

[2022-07-04 10:58] #540 closed, assigned to nobody

[2022-07-07 07:08] hirsaeki-mki opened #543 "os"

[2022-07-07 07:08] #543 closed, assigned to nobody

[2022-07-07 07:08] hirsaeki-mki commented on #543
typo

[2022-07-07 07:22] akhatkz opened #544 "Unable to configure Alarm widget inside Homer7-UI"
Hello, on previous Homer5 -UI, there was and still there, examples on alarm route configuration inside sipcapture.kamailio configuration.
However, I can't find example how to configure "alarm widget" on Homer7-UI.

Is there any examples how to configure "alarm widget" inside Homer7-UI? Thank you.

![image](https://user-images.githubusercontent.com/108856713/177714572-7ee887dc-fec2-4ee3-85b3-015c78

[2022-07-07 07:43] lmangani commented on #544
Hello @akhatkz alerting in HOMER 7 has been moved to Grafana which is much more capable and flexible.
The old widget is on the way to being decommissioned.

[2022-07-07 07:43] #544 closed, assigned to nobody

[2022-07-07 07:43] lmangani commented on #544
Please star the project and if possible, avoid double posting the same issue on the mailing-list.

[2022-07-07 07:49] akhatkz commented on #544
Thank you [lmangani](https://github.com/lmangani) for your answer. I appologies for double posting.

regards,
a .kz

[2022-07-07 11:10] BaldingVoIP-engineer opened #545 "Homer7 user data location"
Hi All,

More a question than anything.

I am using SaltStack to install and config Homer7 but I am having trouble finding the location where to drop a file with a list user details for the web-app login.

Everything works and I am installing via the bootstrap method (Quick Install) but I want to drop a file to overwrite the default log in with a list of users.

Does anyone know where this lives?

[2022-07-07 11:19] lmangani commented on #545
The data is in the database and provisioned by [homer-app](https://github.com/sipcapture/homer-app#initialization)
This step is not mandatory with the exception of the admin user which is managed/reset using this method.

Your users should be provisioned through the Admin APIs or by replicating the method above.

[2022-07-07 11:31] BaldingVoIP-engineer commented on #545
Thanks @lmangani

I will look at the Admin API as that would be easier for me to hit.

[2022-07-07 11:31] #545 closed, assigned to nobody

[2022-07-07 14:49] NormB opened #546 "PostgreSQL fails to start using docker-compose"
I'm running on Apple silicon (M1) with colima (not docker desktop)

"docker-compose up" failed to complete successfully as shown below

~/homer7-docker/heplify-server/hom7-prom-all   master  docker-compose up
Creating network "hom7-prom-all_default" with the default driver
Creating loki       ... done
Creating prometheus ... done
Creating grafana    ... done
Creating nodeexporter ... done
Creat

[2022-07-07 14:49] NormB opened #547 "PostgreSQL fails to start"
I'm running on Apple silicon (M1) with colima (not docker desktop)

"docker-compose up" failed to complete successfully as shown below

~/homer7-docker/heplify-server/hom7-prom-all   master  docker-compose up
Creating network "hom7-prom-all_default" with the default driver
Creating loki       ... done
Creating prometheus ... done
Creating grafana    ... done
Creating nodeexporter ... done
Creat

[2022-07-07 15:11] #547 closed, assigned to nobody

[2022-07-07 15:11] NormB commented on #547
Duplicate

[2022-07-07 17:14] lmangani commented on #546
Hi @NormB!

Not familiar with collima but the default example containers are x86 based and most likely won't run on AARM64 or M1 docker without custom builds. Is any of them actually starting up?

[2022-07-07 17:30] NormB commented on #546
Hi,

Due to recent licensing changes around docker desktop, it's been removed from all systems (corporate and personal) that I use.  Have found that colima works well for my purposes.

It look like all of the containers except PostgreSQL are starting up.  Haven't spent much time digging into the PostgreSQL problem.  My guess is that it's not too hard to get to the bottom of.

In the past I've had

[2022-07-07 18:23] NormB commented on #546
Sigh:

"docker logs db"

...
chown: /var/lib/postgresql/data: Permission denied
...

I've seen this in the past as mentioned previously.

[2022-07-07 18:39] lmangani commented on #546
This is easy, just make sure you have the permissions set on the local `postgres-data` folder it uses to store data
[code]

[2022-07-08 03:45] NormB commented on #546
In docker-compose.yml, added postgres_data to volumes
[code]
Then in the db section, changed the volumes to
[code]
The startup of the PostgreSQL container now completes.

Do you have any comments or opinions regarding the definition of /var/lib/postgresql/data this way?

[2022-07-08 03:54] NormB commented on #546
[code]

[2022-07-08 04:22] NormB commented on #546
The following updates to docker-compose.yml were needed to be able to get PostgreSQL to start and access the web interfaces of the various packages

[code]

[2022-07-08 13:15] husam212 commented on #533
You must load `res_hep_pjsip` or `res_hep_rtcp` for HEP to work in Asterisk, currently there's no support for `chan_sip` module.

[2022-07-19 08:09] hnimminh opened #548 "FreeSWITCH Capture Agent over TCP?"
Does [FreeSWITCH Capture Agent](https://github.com/sipcapture/homer/wiki/Examples%3A-FreeSwitch) support send package over to **TCP**?

From  https://github.com/freeswitch/sofia-sip/blob/060e3a294a6e51276e806adf4547cd69e7186fe9/libsofia-sip-ua/tport/tport_logging.c#L159 only **UDP** is support.

Do we have plan to support **TCP**?

[2022-07-19 08:12] lmangani commented on #548
Hello @hnimminh unfortunately it does not (feel free to open a request on their repository) but you can use our agents or an advance HEP proxy such as OpenSIPS as a HEP relay between UDP and TCP protocols. Hope this helps!

[2022-07-19 08:12] #548 closed, assigned to nobody

[2022-07-19 08:39] hnimminh commented on #548
Thanks @lmangani , I thought that code belong to sipcapture.

[2022-07-20 10:01] hnimminh opened #549 "alphabet capture-id"
can we set the capture id as numeric alphabet, example: dev-server-1?
https://github.com/sipcapture/heplify-server/blob/842d096811ca91f58a6dd6137f4c61f0ef983273/rotator/mariafiles.go#L71
[code]
 on the https://github.com/freeswitch/sofia-sip/blob/18ce20ba40f9112876448c74d0aacbce0e34b372/libsofia-sip-ua/msg/msg_internal.h#L137
[code]

currently seemly capture_id support integer only

[2022-07-20 11:04] lmangani commented on #549
Hello @hnimminh

That's correct capture_id only supports integers and this is fully intentional. This said, HEP allows many other chunk types such as the optional `node-name` parameter which is supported by HEPlify, Captagent, RTPAgent, etc.
Unfortunately FS does not but you it would be a pretty simple PR - or use another agent as a HEP proxy.

[2022-07-20 14:49] hnimminh commented on #549
Thanks @lmangani,

[2022-07-21 19:04] juansalvatella opened #550 "RTCP data is stored on the DB but no QoS tab is displayed"
Hi there,

I'm using the FreeSwitch agent for SIP, RTPEngine agent for RTCP and it's all being sent to a heplify-server. Everything is working like a charm except that I don't see any QoS reports. I've been investigating all around the wiki, the troubleshooting guide and the already opened issues but I can't find a way to get this to work.

If I connect to my postgresql and run:

`homer_data=# sel

[2022-07-23 20:41] khorsmann commented on #548
@hnimminh you can also send captures via Kamailio to Homer. And if you want you can use the golang hfp proxy to send it to Homer https://github.com/ivlovric/HFP

[2022-07-29 04:42] hnimminh commented on #549
Hi @lmangani , I'm trying to add support nodename to header
some how it doesn't work, I try to find out but no look, can you help by take a look into this:
https://github.com/freeswitch/sofia-sip/compare/master...hnimminh:sofia-sip:homer-capture-support-nodename

very appreciate !

[2022-08-02 03:30] #549 closed, assigned to nobody

[2022-08-02 03:30] hnimminh opened #551 "Add capture node name for freeswitch native capture agent"
Hi @lmangani , I'm trying to add support nodename to header
some how it doesn't work, I try to find out but no luck, can you help by take a look into this:
https://github.com/freeswitch/sofia-sip/compare/master...hnimminh:sofia-sip:homer-capture-support-nodename

very appreciate !

[2022-08-03 04:48] yine opened #552 "Issues related to high availability, distribution, and service performance"
Hello, if I want to deploy the homer server in a highly available and distributed manner, what should I do? How is its service performance?

[2022-08-16 09:10] georghimself commented on #509
I want to do kinda something similar: Displaying Dashboards per Customer but based on the "capture-id". Anyone could help me with that? Capture_id is already working inside Homer.

[2022-09-07 11:02] 9-4-6 opened #553 "log not showing"
config.js content:

var config = {
  hep_config: {
    debug: true,
    HEP_SERVER: '192.168.16.133',
    HEP_PORT: 9060
  },
  esl_config: {
    debug: true,
    ESL_SERVER: '192.168.16.133',
    ESL_PORT: 8021,
    ESL_PASS: 'ClueCon',
    HEP_PASS: 'multipass',
    HEP_ID: 2222,
    report_call_events: true,
    report_rtcp_events: true,
    report_qos_events: true
  },
  logs_config: {
    deb

[2022-09-07 11:14] lmangani commented on #553
@CollectBugs please do not double-post. Update either of your issues with the requested details to get help

_you did not even bother specifying you're using hepgen here, so I doubt this will be the correct place_

Please use the original issue you opened.

[2022-09-07 11:14] #553 closed, assigned to nobody

[2022-09-07 11:47] CollectBugs commented on #553
ok

[2022-09-07 11:54] 9-4-6 commented on #553
ok, link https://github.com/sipcapture/hepipe.js/issues/30

[2022-09-08 06:48] 9-4-6 opened #554 "homer postgres defualt passward and username？"
homer  postgres defualt passward？

[2022-09-08 07:35] lmangani commented on #554
starring the project?

[2022-09-08 07:57] 9-4-6 commented on #554
yes，I want to connect to the database，I checked the configuration
Enter the user, the password is wrong
![image](https://user-images.githubusercontent.com/32507511/189067021-9ec76d41-79ae-41e3-a438-16faeeb379d8.png)

![image](https://user-images.githubusercontent.com/32507511/189067177-3c420fbe-4307-4e87-be3d-db8124b08fde.png)

[2022-09-08 08:11] lmangani commented on #554
1) star the project - give support to get support
2) no default. the postgres DB password is randomly generated by the bash installer. check your install log.

[2022-09-08 08:24] 9-4-6 commented on #554
1.ok
2.I know, the password and username are not checked in this file (/etc/heplify-server.toml)? I can't connect to the database with the username and password inside

[2022-09-08 08:25] #554 closed, assigned to nobody

[2022-09-08 08:57] 9-4-6 commented on #554
I've already done it, right?
![image](https://user-images.githubusercontent.com/32507511/189080322-4f40332c-3fc2-4e66-8653-cfeb7691b72a.png)

[2022-09-08 08:58] 9-4-6 commented on #554
why did you close this question for me

[2022-09-08 09:10] lmangani commented on #554
The question was answered. The passwords are generated during setup. The other settings are open for editing.
The actual configuration is accessible to you only, so we do not know what could have been misconfigured.

[2022-09-08 09:20] CollectBugs commented on #554
**Installation method：**
wget https://github.com/sipcapture/homer-installer/raw/master/homer_installer.sh
chmod +x homer_installer.sh
./homer_installer.sh

1.I did not set a password when installing homer, and did not initialize the database。
2.Regarding the configuration of the password, there is no change

[2022-09-08 09:42] 9-4-6 commented on #554
1.I understand your idea
 2.However, the password of the configuration file is the password that was initialized during installation. If there is no change, you cannot log in
3.The configuration file has not changed

[2022-09-08 09:54] lmangani commented on #554
Log in.... are you perhaps trying to use the DB auth to login to the UI instead of `admin/sipcapture`?

[2022-09-08 10:11] 9-4-6 commented on #554
1.Use the DB auth to login to the UI and report an incorrect password （homer_user/ay8zFGx6ZZM00ErOj78hOhXPQ）
2.Install the homer initialization password in this configuration（/etc/heplify-server.toml）

![image](https://user-images.githubusercontent.com/32507511/189095991-915047f4-b3e3-459c-9f5b-9bdd20f69c29.png)
![image](https://user-images.githubusercontent.com/32507511/189096073-399d1ab4-ba35-47

[2022-09-08 16:06] 9-4-6 opened #555 "About the homer configuration problem"
### **1.Please explain the field descriptions in heplify-server.tom**
 SIPHeader
 DBPartLog
 DBPartSip
 DBPartQos             = "6h"
 DBDropDays            = 14
 DBDropDaysCall        = 0
 DBDropDaysRegister    = 0
 DBDropDaysDefault     = 0
 DBDropOnStart         = false
 DBUsageProtection     = true
 DBUsageScheme         = "percentage"
 DBPercentageUsage     = "80%"
 DBMaxSize             = "30

[2022-09-09 01:29] 9-4-6 commented on #554
hello，thank for your reply
the issue has been resolved
correct command connection：
psql -h 127.0.0.1 -p 5432 -d homer_data -U homer_user

[2022-09-09 03:12] 9-4-6 opened #556 "Failed to add dashboard to homer UI"
Homer UI adds dashboard, upload json file and drag and drop are unsuccessful
step1
![image](https://user-images.githubusercontent.com/32507511/189264398-c8971102-4a01-423c-9607-27af4c2573b7.png)

step2：
![image](https://user-images.githubusercontent.com/32507511/189264429-7cc4feba-a832-475f-a7ce-d52e20f83ff7.png)

[2022-09-10 00:07] davidcsi opened #557 "New install can't create config"
hello, i installed manually, postgres is in the localhost.
I was able to execute
[code]

and that works fine:
[code]
and show db users:
[code]

but can't create config, homer-app complains it can't connect to the db:
[code]

[2022-09-10 00:34] davidcsi commented on #557
one needs to set the correct password in
[code]

that's it

[2022-09-10 00:34] #557 closed, assigned to nobody

[2022-09-12 08:03] AlexeyOplachko commented on #556
Thanks for reporting this, we'll look into it 👍

[2022-09-27 18:50] tcreek commented on #550
Did you get this figured out?

[2022-09-27 18:59] lmangani commented on #550
@tcreek check if the timestamps match with those of the call that's sourcing them

[2022-09-27 20:37] tcreek commented on #550
I installed everything via docker. I am not even sure how to even get to the database. I see the container `1ccf6600c67c   postgres:11-alpine`.

I have tried different methods shown, but they all fail.

[2022-09-27 20:53] lmangani commented on #550
@tcreek so how do you know you even have RTCP data in the database? This sounds like a different issue.

[2022-09-27 21:18] tcreek commented on #550
I did run the heplify-xrcollector and data from that run is showing in Homer.

I will open a separate issue

[2022-09-28 17:02] tcreek opened #560 "Help understand retrieving RTCP-XR data in Homer."
I have been working on this for some time. There is really not much of anything on this in the wiki/docs.

Have the heplify-xrcollector (v 0.4) running on my test server Which has sipcapture/Homer installed using the install script with IP address 192.168.1.104. I am running it using command, "./heplify-xrcollector -xs :9064"

Have Asterisk server running which is sending hep packets to the Homer

[2022-09-28 17:20] lmangani commented on #560
Hello @tcreek

The screenshot and video are not very helpful to assist. We need to see the data and the packets in order to comment, also the debug logs from `heplify-xrcollector` _(which is not one of our projects)_ would probably help understand what it might be doing. Possible ngrep/tcpdump the HEP traffic sent out by the xrcollector, if any. It might reveal the problem.

```<joke>``` if you've

[2022-09-28 17:50] tcreek commented on #560
Here is a result from sngrep from running heplify-xrcollector-test

[code]

And this is all that the heplify-xrcollector spits out when it receives data.

[code]
`<no_joke>` Star  ⭐ added! `</no_joke>`

P.S. The video is not for understanding the problem, but wanting to replicate something they did, but it seems there is no explanation , or documentation on how they got the results.

[2022-09-28 18:03] lmangani commented on #560
This helps. Now do you see any `HEP` packets being sent towards homer from the collector?`ie if you're using 9060:
[code]

[2022-09-28 18:09] tcreek commented on #560
Here is the result from `ngrep -W byline port 9060 -d any`

[code]

[2022-09-29 20:56] tcreek commented on #560
Found the table named `hep_proto_35_default`

![yealin_rctpxr](https://user-images.githubusercontent.com/4149717/193140292-57480b32-2435-403e-819a-906780aaebdc.JPG)

192.168.1.106 is the Yealink Telephone. We can see, it appears something from RTCP-XR is being placed into the database, but question is how do we get it to display in Homer?

[2022-10-05 20:54] #560 closed, assigned to nobody

[2022-10-05 21:17] tcreek opened #561 "RTCP-XR data being not displayed in Homer / Promethus"
So I created a Widget type Metrics -> Prometheus and named it  "test chart"

I selected all and even a single VQ RTCP-XR fields available.

![homer_prom](https://user-images.githubusercontent.com/4149717/194164074-4785136a-6ccd-4f38-97fe-1f7679ad0afe.JPG)

When I save the settings, all I see is a blue circle:

![homer_prom_circle](https://user-images.githubusercontent.com/4149717/194164873-5042a76

[2022-10-10 20:50] tcreek opened #562 "Examine HEP PCAP"
Issue created per request of Lorenzo  to examine my .pcap file

Attached is PCAP for HEP

[hep.pcap.tar.gz](https://github.com/sipcapture/homer/files/9749194/hep.pcap.tar.gz)

[2022-10-11 11:14] #562 closed, assigned to nobody

[2022-10-12 14:26] tcreek commented on #561
As a test, I also tried installing using the "quick installer" script. I noticed the script does not put Prometheus on the server.
I put Prometheus on myself, put port 9096 in the settings and ran it. I am getting the exact same results as in the Docker installation.

[2022-10-12 14:36] lmangani commented on #561
Can you display the metrics using Grafana and the demo dashboards?

[2022-10-12 15:22] kYroL01 commented on #531
Closing for inactivity

[2022-10-12 15:22] #531 closed, assigned to nobody

[2022-10-12 15:25] kYroL01 commented on #382
Updated

[2022-10-12 15:25] #382 closed, assigned to nobody

[2022-10-12 15:28] kYroL01 commented on #473
Closing for inactivity from the user - reopen if necessary

[2022-10-12 15:28] #473 closed, assigned to nobody

[2022-10-12 15:53] kYroL01 commented on #511
Implemented and fixed - closing it

![ScreenShot_20221012175315](https://user-images.githubusercontent.com/7222956/195390407-8d8e18a9-aeca-413f-a042-7051b3552c27.png)

[2022-10-12 15:53] #511 closed, assigned to jacovinus

[2022-10-12 15:56] kYroL01 commented on #512
Hi @xaled1 can you revalidate it or retest it to see if this was implemented in the meantime ?
Thanks

[2022-10-12 15:56] tcreek commented on #561
The default credentials of admin/admin is responding as invalid, but I can see this one chart

![image](https://user-images.githubusercontent.com/4149717/195391089-4ffe0b0c-073c-436f-b1c4-e051eb118a8d.png)

Seems to be empty also.

[2022-10-12 16:09] kYroL01 commented on #520
@AlexeyOplachko can we close this ticket ?

[2022-10-12 16:12] kYroL01 commented on #533
@getrahulchauhan follow the suggestion that @husam212 wrote here.
Thanks

[2022-10-12 16:12] #533 closed, assigned to nobody

[2022-10-12 16:13] kYroL01 commented on #534
Hello @davehorton we need first to validate this on ARM system before publish.
Thank you and sorry for the late answer

[2022-10-12 16:17] kYroL01 commented on #546
Hello @NormB sorry for late answer.
In this case, as you did a great job, feel free to send a PR, so we can merge and your contributions will be there :)
Thanks !

[2022-10-12 16:26] kYroL01 commented on #550
@juansalvatella did you were able to see the data in Homer ? Did you check the timestamp ?

[2022-10-12 16:43] kYroL01 commented on #551
Hi @hnimminh .
I see the link refers to a PR you want to send, correct ?
The code seems correct at a first sight, but I need to double-check before giving you a correct answer.
It also must be checked as we parse that in Homer.
We will recheck and let you know.

Thanks

[2022-10-12 20:52] lmangani commented on #551
I'm not at all familiar with the FS code perhaps @adubovikov could you take a look and make a suggestion?

[2022-10-14 08:09] juansalvatella commented on #550
Yeah, I just redeployed everything and it worked!

[2022-10-14 08:09] #550 closed, assigned to nobody

[2022-10-17 09:09] kYroL01 commented on #512
Hi @xaled1 we will implement this. Thanks

[2022-10-17 09:12] kYroL01 commented on #551
Hi @hnimminh the modification in your first answer are correct, as I review with @adubovikov .
Feel free to forward that PR to freeswitch .
Thank you

[2022-10-18 03:44] hnimminh commented on #551
Thanks @kYroL01 @adubovikov @lmangani for your help.
May I know the reason why message (send by above modification) was not show on homer, is this bug of parser in Homer?

[2022-10-18 07:48] kYroL01 commented on #551
Hi @hnimminh . Not a bug. Homer has the possibility to parse and show capture-id as a name, but it's sent as a HEP information from an agent (`heplify` for example).
Now if FS accept your PR you will see your capture-id as a string ;)

I will close this issue. In case of problems feel free to reopen

Thank you!

[2022-10-18 07:48] #551 closed, assigned to adubovikov

[2022-10-19 14:33] lmangani commented on #561
@tcreek this would suggest no data is being received that can be interpreted as media reports.
Please describe your setup and the senders, possibly with some examples.

[2022-10-19 15:35] tcreek commented on #561
I have tried using sipcapture, heplify, and heplify-xrcollector . I have a VoIP telephone sending out VQ RCTP-XR reports.

heplify-xrcollector  was setup on the Homer server and executed with:

./heplify-xrcollector -xs :9064

Also ran ./heplify-xrcollector-test on the same server and could see heplify-xrcollector responding. Also results from the test could be seen in Homer.

What examples exactl

[2022-10-24 08:55] kYroL01 commented on #520
Implemented and resolved

[2022-10-24 08:55] #520 closed, assigned to AlexeyOplachko